{"openapi":"3.0.1","info":{"title":"Aruba.Audit.Api","description":"Aruba.Audit.Api HTTP API\n\nDownload the <a href=\"/openapi/auditing.json\" target=\"_blank\"> OpenAPI file</a>","version":"1.0"},"servers":[{"url":"https://api.arubacloud.com"}],"paths":{"/projects/{projectId}/providers/Aruba.Audit/events":{"get":{"tags":["Events"],"summary":"List Audit Events","parameters":[{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}},{"name":"projection","in":"query","schema":{"type":"string"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string","default":"*"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1.0"}}],"responses":{"200":{"description":"Success","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/AuditResponse"}},"application/json":{"schema":{"$ref":"#/components/schemas/AuditResponse"}},"text/json":{"schema":{"$ref":"#/components/schemas/AuditResponse"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}}},"APIDOC":true}}},"components":{"schemas":{"AddonDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"productName":{"type":"string","nullable":true},"attributes":{"type":"object","additionalProperties":{"type":"string","nullable":true},"nullable":true},"price":{"type":"number","format":"double","nullable":true},"plans":{"type":"array","items":{"$ref":"#/components/schemas/PricingPlanDto"},"nullable":true},"extraInfo":{"$ref":"#/components/schemas/ProductExtraInfoDto"}},"additionalProperties":false},"AuditLogExportDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"location":{"$ref":"#/components/schemas/LocationDto"},"project":{"$ref":"#/components/schemas/ProjectDto"},"tags":{"type":"array","items":{"type":"string"},"nullable":true},"identity":{"$ref":"#/components/schemas/IdentityDto"},"category":{"$ref":"#/components/schemas/AuditLogExportExtraInfoCategoryDto"},"properties":{"$ref":"#/components/schemas/AuditLogExportPropertiesDto"},"scope":{"type":"string","nullable":true}},"additionalProperties":false},"AuditLogExportExtraInfo":{"type":"object","additionalProperties":false},"AuditLogExportExtraInfoCategoryDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"provider":{"type":"string","nullable":true},"typology":{"$ref":"#/components/schemas/AuditLogExportExtraInfoTypologyDto"}},"additionalProperties":false},"AuditLogExportExtraInfoTypologyDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"controllerName":{"type":"string","nullable":true},"limitResourceAvailableForLocation":{"type":"integer","format":"int32","nullable":true},"extraInfo":{"$ref":"#/components/schemas/AuditLogExportExtraInfo"},"parents":{"type":"array","items":{"$ref":"#/components/schemas/ParentTypologyDto"},"nullable":true}},"additionalProperties":false},"AuditLogExportPropertiesDto":{"type":"object","properties":{"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/LinkedResourceDto"},"nullable":true},"jobModel":{"$ref":"#/components/schemas/JobsModelDto"},"jobId":{"type":"string","nullable":true},"operationType":{"type":"integer","format":"int32","nullable":true}},"additionalProperties":false},"AuditLogExportPropertiesResponseDto":{"type":"object","properties":{"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/LinkedResourceResponseDto"},"nullable":true},"jobModel":{"nullable":true},"jobId":{"type":"string","nullable":true},"operationType":{"type":"integer","format":"int32","nullable":true}},"additionalProperties":false},"AuditLogExportResponseDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataResponseDto"},"status":{"$ref":"#/components/schemas/StatusResponseDto"},"properties":{"$ref":"#/components/schemas/AuditLogExportPropertiesResponseDto"}},"additionalProperties":false},"AuditResponse":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"self":{"type":"string","nullable":true},"prev":{"type":"string","nullable":true},"next":{"type":"string","nullable":true},"first":{"type":"string","nullable":true},"last":{"type":"string","nullable":true},"values":{"type":"array","items":{"$ref":"#/components/schemas/EventsResponse"},"nullable":true}},"additionalProperties":false},"AuditResponseFilter":{"type":"object","properties":{"self":{"type":"string","nullable":true},"kind":{"type":"string","nullable":true},"pageOf":{"type":"string","nullable":true},"next":{"type":"string","nullable":true},"total":{"type":"integer","format":"int64"},"values":{"type":"array","items":{"$ref":"#/components/schemas/EventsResponse"},"nullable":true}},"additionalProperties":false},"AuditTypologiesDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"typologyCMP":{"type":"string","nullable":true},"typology":{"type":"string","nullable":true},"typologyCMPId":{"type":"string","nullable":true},"category":{"type":"string","nullable":true},"categoryId":{"type":"string","nullable":true},"project":{"type":"string","nullable":true},"services":{"type":"array","items":{"$ref":"#/components/schemas/TypologiesServices"},"nullable":true}},"additionalProperties":false},"BillingPlanDto":{"type":"object","properties":{"billingPeriod":{"type":"string","nullable":true}},"additionalProperties":false},"BillingPlanResponseDto":{"type":"object","properties":{"billingPeriod":{"type":"string","nullable":true}},"additionalProperties":false},"Caller":{"required":["subject"],"type":"object","properties":{"subject":{"type":"string"},"username":{"type":"string","nullable":true},"company":{"type":"string","nullable":true},"tenantId":{"type":"string","nullable":true}},"additionalProperties":false},"CategoryResponseDto":{"type":"object","properties":{"name":{"type":"string","nullable":true},"provider":{"type":"string","nullable":true},"typology":{"$ref":"#/components/schemas/TypologyResponseDto"}},"additionalProperties":false},"CategoryType":{"required":["value"],"type":"object","properties":{"value":{"minLength":1,"type":"string"},"description":{"type":"string","nullable":true}},"additionalProperties":false},"Claims":{"type":"object","properties":{"aud":{"type":"string","nullable":true},"iss":{"type":"string","format":"uri","nullable":true}},"additionalProperties":false},"DataCenterDto":{"type":"object","properties":{"code":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"allowedServices":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false},"DisableStatusInfoResponseDto":{"type":"object","properties":{"isDisabled":{"type":"boolean"},"reasons":{"type":"array","items":{"type":"string"},"nullable":true},"previousStatus":{"$ref":"#/components/schemas/PreviousStatusResponseDto"}},"additionalProperties":false},"EcommerceDto":{"type":"object","properties":{"subscriptionServices":{"$ref":"#/components/schemas/SubscriptionServicesDto"},"productCatalog":{"$ref":"#/components/schemas/ProductCatalogDto"},"project":{"type":"string","nullable":true}},"additionalProperties":false},"EcommerceResponseDto":{"type":"object","properties":{"subscriptionServices":{"$ref":"#/components/schemas/SubscriptionServicesResponseDto"}},"additionalProperties":false},"EventType":{"required":["id","type"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"value":{"type":"string","nullable":true},"type":{"minLength":1,"type":"string"}},"additionalProperties":false},"EventsResponse":{"required":["category","channel","event","identity","origin","severityLevel","status"],"type":"object","properties":{"logFormat":{"$ref":"#/components/schemas/LogFormatType"},"@timestamp":{"type":"string","format":"date-time"},"operation":{"$ref":"#/components/schemas/OperationType"},"event":{"$ref":"#/components/schemas/EventType"},"category":{"$ref":"#/components/schemas/CategoryType"},"region":{"$ref":"#/components/schemas/RegionType"},"severityLevel":{"minLength":1,"type":"string"},"origin":{"minLength":1,"type":"string"},"channel":{"minLength":1,"type":"string"},"status":{"$ref":"#/components/schemas/StatusType"},"subStatus":{"$ref":"#/components/schemas/SubStatusType"},"identity":{"$ref":"#/components/schemas/Identity"},"properties":{"type":"object","additionalProperties":{},"nullable":true},"internal":{"$ref":"#/components/schemas/Internal"},"actions":{"type":"array","items":{"$ref":"#/components/schemas/RowActionBff"},"nullable":true},"categoryId":{"type":"string","nullable":true},"typologyId":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"impactedResources":{"type":"string","nullable":true}},"additionalProperties":false},"FilterResponse":{"type":"object","properties":{"filterid":{"type":"string","nullable":true},"filtername":{"type":"string","nullable":true},"eventtype":{"enum":["User","System"],"type":"string"}},"additionalProperties":false},"Identity":{"required":["caller"],"type":"object","properties":{"caller":{"$ref":"#/components/schemas/Caller"}},"additionalProperties":false},"IdentityDto":{"type":"object","properties":{"userId":{"type":"string","nullable":true},"username":{"type":"string","nullable":true},"account":{"type":"string","nullable":true},"tenant":{"type":"string","nullable":true},"company":{"type":"string","nullable":true},"groupMembership":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false},"Internal":{"required":["identity","properties","trace"],"type":"object","properties":{"trace":{"$ref":"#/components/schemas/Trace"},"identity":{"$ref":"#/components/schemas/InternalIdentity"},"properties":{"type":"object","additionalProperties":{}}},"additionalProperties":false},"InternalIdentity":{"type":"object","properties":{"claims":{"$ref":"#/components/schemas/Claims"}},"additionalProperties":false},"JobResource":{"type":"object","properties":{"resourceId":{"type":"string","nullable":true},"resourceName":{"type":"string","nullable":true}},"additionalProperties":false},"JobTypology":{"type":"object","properties":{"typologyId":{"type":"string","nullable":true},"resources":{"type":"array","items":{"$ref":"#/components/schemas/JobResource"},"nullable":true}},"additionalProperties":false},"JobsEntity":{"type":"object","properties":{"id":{"type":"string","nullable":true},"storage":{"$ref":"#/components/schemas/StorageModel"},"configDate":{"type":"string","format":"date-time"},"typologies":{"type":"array","items":{"$ref":"#/components/schemas/Typology"},"nullable":true},"state":{"type":"string","nullable":true},"message":{"type":"string","nullable":true},"exportLabel":{"type":"string","nullable":true},"vpcConfigs":{"type":"array","items":{"$ref":"#/components/schemas/VpcConfig"},"nullable":true}},"additionalProperties":false},"JobsModelDto":{"type":"object","properties":{"destination":{"type":"string","nullable":true},"exportLabel":{"type":"string","nullable":true},"typologies":{"type":"array","items":{"$ref":"#/components/schemas/JobTypology"},"nullable":true}},"additionalProperties":false},"LinkedResourceDto":{"type":"object","properties":{"uri":{"type":"string","nullable":true}},"additionalProperties":false},"LinkedResourceResponseDto":{"type":"object","properties":{"uri":{"type":"string","nullable":true},"strictCorrelation":{"type":"boolean"}},"additionalProperties":false},"LocationDto":{"type":"object","properties":{"code":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"value":{"type":"string","nullable":true,"description":"For more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."},"dataCenters":{"type":"array","items":{"$ref":"#/components/schemas/DataCenterDto"},"nullable":true},"unavailable":{"type":"boolean"}},"additionalProperties":false},"LocationResponseDto":{"type":"object","properties":{"code":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"value":{"type":"string","nullable":true}},"additionalProperties":false},"LogFormatType":{"required":["version"],"type":"object","properties":{"version":{"minLength":1,"type":"string"}},"additionalProperties":false},"MetadataResponseDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"uri":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"location":{"$ref":"#/components/schemas/LocationResponseDto"},"project":{"$ref":"#/components/schemas/ProjectResponseDto"},"tags":{"type":"array","items":{"type":"string"},"nullable":true},"category":{"$ref":"#/components/schemas/CategoryResponseDto"},"creationDate":{"type":"string","format":"date-time","nullable":true},"createdBy":{"type":"string","nullable":true},"updateDate":{"type":"string","format":"date-time","nullable":true},"updatedBy":{"type":"string","nullable":true},"version":{"type":"string","nullable":true}},"additionalProperties":false},"OperationType":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"value":{"type":"string","nullable":true}},"additionalProperties":false},"ParentTypologyDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"PreviousStatusResponseDto":{"type":"object","properties":{"state":{"type":"string","nullable":true},"creationDate":{"type":"string","format":"date-time","nullable":true}},"additionalProperties":false},"PricingPlanDto":{"type":"object","properties":{"productPlan":{"$ref":"#/components/schemas/ProductPlanDto"},"productPlanPhases":{"type":"array","items":{"$ref":"#/components/schemas/ProductPlanPhasesDto"},"nullable":true}},"additionalProperties":false},"ProblemDetails":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"ProductAttributeDto":{"type":"object","properties":{"name":{"type":"string","nullable":true},"value":{"type":"string","nullable":true}},"additionalProperties":false},"ProductCatalogDto":{"type":"object","properties":{"products":{"type":"array","items":{"$ref":"#/components/schemas/ProductDto"},"nullable":true}},"additionalProperties":false},"ProductDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"variantId":{"type":"string","nullable":true},"variantName":{"type":"string","nullable":true},"categoryName":{"type":"string","nullable":true},"attributes":{"type":"array","items":{"$ref":"#/components/schemas/ProductAttributeDto"},"nullable":true},"plans":{"type":"array","items":{"$ref":"#/components/schemas/PricingPlanDto"},"nullable":true},"addons":{"type":"array","items":{"$ref":"#/components/schemas/AddonDto"},"nullable":true},"extraInfo":{"$ref":"#/components/schemas/ProductExtraInfoDto"}},"additionalProperties":false},"ProductExtraInfoDto":{"type":"object","properties":{"provisioningProductId":{"type":"string","nullable":true},"provisioningProductName":{"type":"string","nullable":true}},"additionalProperties":false},"ProductPlanDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"productVariantId":{"type":"string","nullable":true},"displayOrder":{"type":"integer","format":"int32","nullable":true}},"additionalProperties":false},"ProductPlanPhasesDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"fixedPrice":{"$ref":"#/components/schemas/ProductPriceDto"},"billingPeriod":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"ProductPriceDto":{"type":"object","properties":{"price":{"type":"number","format":"double","nullable":true},"currency":{"type":"string","nullable":true}},"additionalProperties":false},"ProjectDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"ProjectResponseDto":{"type":"object","properties":{"id":{"type":"string","nullable":true}},"additionalProperties":false},"RegionType":{"type":"object","properties":{"name":{"type":"string","nullable":true},"availabilityZone":{"type":"string","nullable":true}},"additionalProperties":false},"RowActionBff":{"type":"object","properties":{"key":{"type":"string","nullable":true},"disabled":{"type":"boolean","nullable":true},"executable":{"type":"boolean","nullable":true}},"additionalProperties":false},"ServiceDto":{"type":"object","properties":{"initialOrder":{"type":"boolean","nullable":true},"orderItemId":{"type":"string","nullable":true},"productVariantId":{"type":"string","nullable":true},"productPlanId":{"type":"string","nullable":true},"type":{"enum":["Base","Addon"],"type":"string"},"name":{"type":"string","nullable":true},"serviceId":{"type":"string","nullable":true},"serviceGroupId":{"type":"string","nullable":true},"creationDate":{"type":"string","format":"date-time","nullable":true},"quantity":{"type":"integer","format":"int32","nullable":true},"resource":{"$ref":"#/components/schemas/ServiceResourceDto"},"extraInfo":{"$ref":"#/components/schemas/SubscriptionExtraInfoDto"}},"additionalProperties":false},"ServiceResourceDto":{"type":"object","properties":{"path":{"type":"string","nullable":true}},"additionalProperties":false},"ServiceResponseDto":{"type":"object","properties":{"initialOrder":{"type":"boolean","nullable":true},"orderItemId":{"type":"string","nullable":true},"productVariantId":{"type":"string","nullable":true},"productPlanId":{"type":"string","nullable":true},"type":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"serviceId":{"type":"string","nullable":true},"serviceGroupId":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"creationDate":{"type":"string","format":"date-time","nullable":true},"quantity":{"type":"integer","format":"int32","nullable":true}},"additionalProperties":false},"StatusResponseDto":{"type":"object","properties":{"state":{"type":"string","nullable":true},"creationDate":{"type":"string","format":"date-time","nullable":true},"disableStatusInfo":{"$ref":"#/components/schemas/DisableStatusInfoResponseDto"}},"additionalProperties":false},"StatusType":{"required":["value"],"type":"object","properties":{"value":{"type":"string"},"description":{"type":"string","nullable":true},"code":{"type":"integer","format":"int32","nullable":true},"properties":{"nullable":true}},"additionalProperties":false},"StorageModel":{"type":"object","properties":{"name":{"type":"string","nullable":true},"region":{"type":"string","nullable":true},"plan":{"type":"string","nullable":true},"url":{"type":"string","nullable":true},"username":{"type":"string","nullable":true}},"additionalProperties":false},"SubStatusType":{"type":"object","properties":{"value":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"properties":{"nullable":true}},"additionalProperties":false},"SubscriptionExtraInfoDto":{"type":"object","properties":{"provisioningProductId":{"type":"string","nullable":true},"provisioningProductName":{"type":"string","nullable":true},"dataCenter":{"type":"string","nullable":true,"description":"For more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."}},"additionalProperties":false},"SubscriptionServicesDto":{"type":"object","properties":{"serviceBasketId":{"type":"string","nullable":true},"subscriptionId":{"type":"string","nullable":true},"billingContainerId":{"type":"string","nullable":true},"serviceGroupId":{"type":"string","nullable":true},"orderId":{"type":"string","nullable":true},"currency":{"type":"string","nullable":true},"totalPrice":{"type":"number","format":"double","nullable":true},"plan":{"$ref":"#/components/schemas/BillingPlanDto"},"services":{"type":"array","items":{"$ref":"#/components/schemas/ServiceDto"},"nullable":true}},"additionalProperties":false},"SubscriptionServicesResponseDto":{"type":"object","properties":{"serviceBasketId":{"type":"string","nullable":true},"subscriptionId":{"type":"string","nullable":true},"billingContainerId":{"type":"string","nullable":true},"serviceGroupId":{"type":"string","nullable":true},"orderId":{"type":"string","nullable":true},"currency":{"type":"string","nullable":true},"totalPrice":{"type":"number","format":"double","nullable":true},"plan":{"$ref":"#/components/schemas/BillingPlanResponseDto"},"services":{"type":"array","items":{"$ref":"#/components/schemas/ServiceResponseDto"},"nullable":true}},"additionalProperties":false},"Trace":{"type":"object","properties":{"conversationId":{"type":"string","nullable":true},"correlationId":{"type":"string","nullable":true},"traceparent":{"type":"string","nullable":true},"tracestate":{"type":"string","nullable":true}},"additionalProperties":false},"TypologiesServices":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"Typology":{"type":"object","properties":{"name":{"type":"string","nullable":true},"resourceId":{"type":"array","items":{"type":"string"},"nullable":true},"resourceName":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false},"TypologyResponseDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"VpcConfig":{"type":"object","properties":{"jobId":{"type":"string","nullable":true},"tenant":{"type":"string","nullable":true},"userId":{"type":"string","nullable":true}},"additionalProperties":false}},"securitySchemes":{"Bearer":{"type":"apiKey","description":"Insert JWT token","name":"Authorization","in":"header"}}},"security":[{"Bearer":[]}]}