{"openapi":"3.0.1","info":{"title":"Aruba.CmpService.ServiceCatalogue.Api","description":"Aruba.CmpService.ServiceCatalogue.Api\n\n\nDownload the <a href=\"/openapi/catalog.json\" target=\"_blank\"> OpenAPI file</a>","version":"1.0.0"},"servers":[{"url":"https://api.arubacloud.com"}],"paths":{"/catalog/locationAndDataCenter":{"get":{"tags":["Catalog"],"summary":"List Location and DataCenter","parameters":[{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Api.v1.Models.LocationDataCenterCatalogDto"}}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}}},"components":{"schemas":{"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.AddonDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"productName":{"type":"string","nullable":true},"attributes":{"type":"object","additionalProperties":{"type":"string"}},"price":{"type":"number","format":"double","nullable":true},"plans":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.PricingPlanDto"},"nullable":true},"extraInfo":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProductExtraInfoDto"}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.BillingPlanDto":{"type":"object","properties":{"billingPeriod":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.CategoryDto`1[[System.Object, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"provider":{"type":"string","nullable":true},"typology":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.TypologyDto`1[[System.Object, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.DataCenterDto":{"type":"object","properties":{"code":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"allowedServices":{"type":"array","items":{"type":"string"}}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.EcommerceDto":{"type":"object","properties":{"subscriptionServices":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.SubscriptionServicesDto"},"productCatalog":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProductCatalogDto"},"project":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.IdentityDto":{"type":"object","properties":{"userId":{"type":"string","nullable":true},"username":{"type":"string","nullable":true},"account":{"type":"string","nullable":true},"tenant":{"type":"string","nullable":true},"company":{"type":"string","nullable":true},"groupMembership":{"type":"array","items":{"type":"string"}},"currency":{"type":"string","nullable":true},"azp":{"type":"string","nullable":true},"ownerId":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.LocationDto":{"type":"object","properties":{"code":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"value":{"type":"string","nullable":true},"dataCenters":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.DataCenterDto"}},"unavailable":{"type":"boolean"}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ParentTypologyDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.PricingPlanDto":{"type":"object","properties":{"productPlan":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProductPlanDto"},"productPlanPhases":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProductPlanPhasesDto"}}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProductAttributeDto":{"type":"object","properties":{"name":{"type":"string","nullable":true},"value":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProductCatalogDto":{"type":"object","properties":{"products":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProductDto"}}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProductDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"variantId":{"type":"string","nullable":true},"variantName":{"type":"string","nullable":true},"categoryName":{"type":"string","nullable":true},"attributes":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProductAttributeDto"},"nullable":true},"plans":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.PricingPlanDto"},"nullable":true},"addons":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.AddonDto"}},"extraInfo":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProductExtraInfoDto"}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProductExtraInfoDto":{"type":"object","properties":{"provisioningProductId":{"type":"string","nullable":true},"provisioningProductName":{"type":"string","nullable":true},"trial":{"type":"string","nullable":true},"osType":{"type":"string","nullable":true},"typologyId":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProductPlanDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"productVariantId":{"type":"string","nullable":true},"displayOrder":{"type":"integer","format":"int32","nullable":true},"attributes":{"type":"object","additionalProperties":{}}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProductPlanPhasesDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"fixedPrice":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProductPriceDto"},"billingPeriod":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProductPriceDto":{"type":"object","properties":{"price":{"type":"number","format":"double","nullable":true},"currency":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProjectDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"folderId":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ResourceBaseDto`2[[System.Object, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e],[System.Object, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"category":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.CategoryDto`1[[System.Object, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]"},"location":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.LocationDto"},"project":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProjectDto"},"tags":{"type":"array","items":{"type":"string"},"nullable":true},"identity":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.IdentityDto"},"scope":{"type":"string","nullable":true},"properties":{"nullable":true}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ServiceDto":{"type":"object","properties":{"initialOrder":{"type":"boolean","nullable":true},"orderItemId":{"type":"string","nullable":true},"productVariantId":{"type":"string","nullable":true},"productPlanId":{"type":"string","nullable":true},"type":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ServiceType"},"name":{"type":"string","nullable":true},"serviceId":{"type":"string","nullable":true},"serviceGroupId":{"type":"string","nullable":true},"creationDate":{"type":"string","format":"date-time","nullable":true},"quantity":{"type":"integer","format":"int32","nullable":true},"resource":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ServiceResourceDto"},"extraInfo":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.SubscriptionExtraInfoDto"},"totalPrice":{"type":"number","format":"double","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ServiceResourceDto":{"type":"object","properties":{"path":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ServiceType":{"enum":["Base","Addon"],"type":"string"},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.SubscriptionExtraInfoDto":{"type":"object","properties":{"provisioningProductId":{"type":"string","nullable":true},"provisioningProductName":{"type":"string","nullable":true},"dataCenter":{"type":"string","nullable":true,"description":"For more information, check the <a href=\"/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.SubscriptionServicesDto":{"type":"object","properties":{"serviceBasketId":{"type":"string","nullable":true},"subscriptionId":{"type":"string","nullable":true},"billingContainerId":{"type":"string","nullable":true},"serviceGroupId":{"type":"string","nullable":true},"orderId":{"type":"string","nullable":true},"currency":{"type":"string","nullable":true},"totalPrice":{"type":"number","format":"double","nullable":true},"plan":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.BillingPlanDto"},"services":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ServiceDto"}}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.TypologyDto`1[[System.Object, System.Private.CoreLib, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e]]":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"controllerName":{"type":"string","nullable":true},"limitResourceAvailableForLocation":{"type":"integer","format":"int32","nullable":true},"extraInfo":{"nullable":true},"parents":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ParentTypologyDto"},"nullable":true},"skipEcommerce":{"type":"boolean"}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.RBAC.AuthorizationDto":{"type":"object","properties":{"subject":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.RBAC.SubjectDto"},"scope":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.RBAC.ScopeDto"},"resource":{"type":"string"},"provider":{"type":"string"},"verb":{"type":"string"}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.RBAC.ScopeDto":{"type":"object","properties":{"folderId":{"type":"string","nullable":true},"projectId":{"type":"string","nullable":true},"region":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.RBAC.SubjectDto":{"type":"object","properties":{"userId":{"type":"string"},"tenantId":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Api.v1.Models.ConfigurationDto":{"type":"object","properties":{"maxCount":{"type":"integer","format":"int32","nullable":true},"maxCountUser":{"type":"integer","format":"int32","nullable":true},"extraInfo":{"nullable":true}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Api.v1.Models.DataCenterDetailsDto":{"type":"object","properties":{"id":{"type":"string"},"idLocation":{"type":"string"},"name":{"type":"string"},"claimValue":{"type":"string"},"availabilityZone":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Api.v1.Models.DataCenterDto":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"claimValue":{"type":"string"},"availabilityZone":{"type":"string","nullable":true}},"additionalProperties":false,"description":"DataCenter service model"},"Aruba.CmpService.ServiceCatalogue.Api.v1.Models.LangDataDto":{"type":"object","properties":{"code":{"type":"string","nullable":true},"url":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Api.v1.Models.LocationDataCenterCatalogDto":{"type":"object","properties":{"location":{"type":"string","description":"The location value (e.g., \"DEFRA-Frankfurt\", \"ITBG-Bergamo\")"},"dataCenter":{"type":"string","description":"The datacenter name (e.g., \"DEFRA-1\", \"ITBG-1\")\n\nFor more information, check the <a href=\"/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."}},"additionalProperties":false,"description":"DTO representing a flattened Location-DataCenter pair for the catalog endpoint"},"Aruba.CmpService.ServiceCatalogue.Api.v1.Models.LocationDto":{"required":["abbreviation","available","crowdInName","flag","typologyId","value"],"type":"object","properties":{"flag":{"minLength":1,"type":"string"},"country":{"type":"string"},"city":{"type":"string"},"abbreviation":{"minLength":1,"type":"string"},"value":{"minLength":1,"type":"string"},"crowdInName":{"minLength":1,"type":"string"},"available":{"type":"boolean"},"typologyId":{"minLength":1,"type":"string"},"url":{"type":"string"},"nodeMaxCount":{"type":"integer","format":"int32","nullable":true},"nodePoolMaxCount":{"type":"integer","format":"int32","nullable":true},"dataCenters":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Api.v1.Models.DataCenterDetailsDto"},"nullable":true}},"additionalProperties":false,"description":"Location Dto"},"Aruba.CmpService.ServiceCatalogue.Api.v1.Models.LocationTenantConfigurationDto":{"type":"object","properties":{"locationValue":{"type":"string"},"profileName":{"type":"string"},"typology":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Models.TypologyDetail"}},"additionalProperties":false,"description":"Location tenant configuration model"},"Aruba.CmpService.ServiceCatalogue.Api.v1.Models.ReferenceDto":{"type":"object","properties":{"id":{"type":"string"},"linkKb":{"type":"string"},"pathCmp":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"lang":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Api.v1.Models.LangDataDto"},"nullable":true}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Api.v1.Models.RegionDto":{"type":"object","properties":{"dataCenters":{"type":"array","items":{"type":"string"},"nullable":true},"typology":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Api.v1.Models.ConfigurationDto"}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Dto.TypologyWhitelistResponseDto":{"type":"object","properties":{"enabled":{"type":"boolean"}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Enums.NavigateRedirectCard":{"enum":["Detail","List","Legacy","Path","Sso"],"type":"string"},"Aruba.CmpService.ServiceCatalogue.Enums.TypologyFilters":{"enum":["TenantAREMenuHidingFilter","TenantCNSPFilter","TenantNonCNSPFilter","SEFCompanyMenuHidingFilter","HideFilter","RemoveWhenEmptyChildrenFilter","TenantWIDEFilter","TenantNonWIDEFilter","TenantNonArubaSpaFilter"],"type":"string"},"Aruba.CmpService.ServiceCatalogue.Models.AttributeMenuNew":{"type":"object","properties":{"icon":{"type":"string","nullable":true},"label":{"type":"string","nullable":true},"route":{"type":"string","nullable":true},"routeChild":{"type":"string","nullable":true},"open":{"type":"boolean","nullable":true},"subMenu":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Models.SubMenuNew"},"nullable":true},"pathLegacy":{"type":"string","nullable":true},"order":{"type":"integer","format":"int32"},"filters":{"type":"array","items":{"type":"string"},"nullable":true},"authorizationContexts":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Models.AuthorizationContext"},"nullable":true}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Models.AuthorizationContext":{"type":"object","properties":{"provider":{"type":"string","nullable":true},"resource":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Models.Badge":{"type":"object","properties":{"text":{"type":"string","nullable":true},"bgColor":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Models.Category":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","nullable":true},"provider":{"type":"string","nullable":true},"whiteList":{"type":"array","items":{"type":"string"}},"whiteListEnabled":{"type":"boolean"},"order":{"type":"integer","format":"int32","nullable":true},"menuId":{"type":"string"},"filters":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Models.DataCenter":{"type":"object","properties":{"id":{"type":"string"},"idLocation":{"type":"string"},"name":{"type":"string"},"claimValue":{"type":"string"},"nodeMaxCount":{"type":"integer","format":"int32","nullable":true},"nodePoolMaxCount":{"type":"integer","format":"int32","nullable":true},"allowedService":{"type":"array","items":{"type":"string"},"nullable":true},"availabilityZone":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Models.DefaultSubnetRange":{"type":"object","properties":{"ip":{"type":"string","nullable":true},"host":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Models.DisablePeriodsProperties":{"type":"object","properties":{"step":{"type":"string","nullable":true},"hoursAfterDisable":{"type":"integer","format":"int32","nullable":true},"action":{"type":"string","nullable":true},"params":{"type":"object","additionalProperties":{}}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Models.InfrastractureEndpoints":{"type":"object","properties":{"typology":{"type":"string","nullable":true},"url":{"type":"string","nullable":true},"subTypology":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Models.LangData":{"type":"object","properties":{"code":{"type":"string","nullable":true},"url":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Models.Location":{"type":"object","properties":{"id":{"type":"string"},"flag":{"type":"string"},"abbreviation":{"type":"string"},"value":{"type":"string"},"country":{"type":"string"},"city":{"type":"string"},"unavailable":{"type":"boolean"},"crowdInName":{"type":"string"},"url":{"type":"string"},"dataCenters":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Models.DataCenter"},"nullable":true},"typologies":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Models.TypologyDetail"},"nullable":true},"references":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Models.Reference"},"nullable":true},"externalNetwork":{"type":"string","nullable":true},"infrastractureEndpoints":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Models.InfrastractureEndpoints"},"nullable":true}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Models.LocationTenantConfiguration":{"type":"object","properties":{"id":{"type":"string"},"locationValue":{"type":"string"},"tenantId":{"type":"string","nullable":true},"profileName":{"type":"string"},"typologies":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Models.TypologyDetail"},"nullable":true}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Models.MenuNew":{"type":"object","properties":{"id":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"attributeMenus":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Models.AttributeMenuNew"},"nullable":true},"filters":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Models.PanelSetting":{"type":"object","properties":{"noticePeriod":{"type":"integer","format":"int32"},"defaultSubnet":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Models.DefaultSubnetRange"}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Models.Reference":{"type":"object","properties":{"id":{"type":"string"},"linkKb":{"type":"string"},"pathCmp":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"lang":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Models.LangData"},"nullable":true}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Models.SubMenuNew":{"type":"object","properties":{"label":{"type":"string","nullable":true},"routeChild":{"type":"string","nullable":true},"filters":{"type":"array","items":{"type":"string"},"nullable":true}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Models.Typology":{"type":"object","properties":{"id":{"type":"string","nullable":true},"idReference":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"category":{"type":"string","nullable":true},"categoryId":{"type":"string","nullable":true},"icon":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"controllerName":{"type":"string","nullable":true},"controllerNameBff":{"type":"string","nullable":true},"showInCreationCard":{"type":"boolean"},"showInCategory":{"type":"boolean"},"enableEcommerce":{"type":"boolean"},"availableParents":{"type":"array","items":{"type":"string"},"nullable":true},"daysForDeleteAfterDisabling":{"type":"integer","format":"int32","nullable":true},"daysForShutdownAfterDisabling":{"type":"integer","format":"int32","nullable":true},"vpcRequired":{"type":"boolean","nullable":true},"subnetRequired":{"type":"boolean","nullable":true},"securityGroupRequired":{"type":"boolean","nullable":true},"projectRequired":{"type":"boolean","nullable":true},"enableDetailPage":{"type":"boolean"},"navigate":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Enums.NavigateRedirectCard"},"order":{"type":"integer","format":"int32","nullable":true},"disablePeriods":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Models.DisablePeriodsProperties"},"nullable":true},"pathLegacy":{"type":"string","nullable":true},"path":{"type":"string","nullable":true},"badge":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Models.Badge"},"filters":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Enums.TypologyFilters"}},"enableGuard":{"type":"boolean"},"otherCategories":{"type":"array","items":{"type":"string"}},"authorizationContexts":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Models.AuthorizationContext"},"nullable":true},"showBreadcrumb":{"type":"boolean","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Models.TypologyDetail":{"type":"object","properties":{"idTypology":{"type":"string","nullable":true},"maxCount":{"type":"integer","format":"int32","nullable":true},"maxCountUser":{"type":"integer","format":"int32","nullable":true},"extraInfo":{"$ref":"#/components/schemas/Aruba.CmpService.ServiceCatalogue.Models.TypologyDetailExtraInfo"}},"additionalProperties":false},"Aruba.CmpService.ServiceCatalogue.Models.TypologyDetailExtraInfo":{"type":"object","properties":{"extraInfoProperties":{"nullable":true}},"additionalProperties":false},"Microsoft.AspNetCore.Mvc.ProblemDetails":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"securitySchemes":{"Bearer":{"type":"apiKey","description":"Insert JWT token","name":"Authorization","in":"header"}}},"security":[{"Bearer":[]}]}