{"openapi":"3.0.4","info":{"title":"Aruba.CmpService.CloudV1Provider.WebApi","description":"Aruba.CmpService.CloudV1Provider.WebApi HTTP API\n\nDownload the <a href=\"/api/openapi/cloudv1-provider.json\" target=\"_blank\"> OpenAPI file</a>","version":"1.0.0"},"servers":[{"url":"https://api.arubacloud.com"}],"paths":{"/projects/{projectId}/providers/Aruba.CloudV1/vps":{"get":{"tags":["Vps"],"summary":"List vps","parameters":[{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}},{"name":"projection","in":"query","schema":{"type":"string"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VpsListResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/VpsListResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsListResponseDto"}}}}},"APIDOC":true},"post":{"tags":["Vps"],"summary":"Create a vps.","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpsCreateDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsCreateDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VpsCreateDto"}}}},"responses":{"202":{"description":"Accepted"},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.CloudV1/vps/{id}":{"get":{"tags":["Vps"],"summary":"Get By Id","parameters":[{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VpsResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/VpsResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"put":{"tags":["Vps"],"summary":"Update vps","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpsUpdateDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsUpdateDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VpsUpdateDto"}}}},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VpsResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/VpsResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"delete":{"tags":["Vps"],"summary":"Deletes a vps.","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"now","in":"query","schema":{"type":"boolean","default":true}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"202":{"description":"Accepted"},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.CloudV1/vps/{id}/start":{"post":{"tags":["Vps"],"summary":"Starts a vps.","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpsActionsDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.CloudV1/vps/{id}/stop":{"post":{"tags":["Vps"],"summary":"Stops a vps.","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VpsActionsDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/VpsActionsDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsActionsDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.CloudV1/vps/{id}/poweroff":{"post":{"tags":["Vps"],"summary":"Powers off a vps.","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VpsActionsDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/VpsActionsDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsActionsDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.CloudV1/vps/{id}/reset":{"post":{"tags":["Vps"],"summary":"Resets a vps.","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VpsActionsDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/VpsActionsDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsActionsDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.CloudV1/vps/{id}/reinit":{"post":{"tags":["Vps"],"summary":"Reinitialize a vps.","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpsReinitDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsReinitDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VpsReinitDto"}}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VpsActionsDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/VpsActionsDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsActionsDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.CloudV1/vps/{id}/notes":{"post":{"tags":["Vps"],"summary":"Update vps notes.","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpsUpsertNotesDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsUpsertNotesDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VpsUpsertNotesDto"}}}},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VpsResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/VpsResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.CloudV1/vps/{id}/snapshots":{"get":{"tags":["Vps"],"summary":"List snapshots of a vps.","parameters":[{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VpsSnapshotListResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/VpsSnapshotListResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsSnapshotListResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"post":{"tags":["Vps"],"summary":"Create a snapshot of a vps.","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"202":{"description":"Accepted"},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"put":{"tags":["Vps"],"summary":"Restore vps snapshot","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VpsSnapshotResponseDto"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VpsSnapshotResponseDto"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VpsSnapshotResponseDto"}}}}}},"APIDOC":true},"delete":{"tags":["Vps"],"summary":"Delete vps snapshot","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VpsSnapshotResponseDto"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VpsSnapshotResponseDto"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VpsSnapshotResponseDto"}}}}}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.CloudV1/vps/{id}/flavors":{"get":{"tags":["Vps"],"summary":"List the flavors selectable for a vps size change.","parameters":[{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VpsCatalogResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/VpsCatalogResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsCatalogResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"put":{"tags":["Vps"],"summary":"Applies a flavor (size) change to a vps.","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpsChangeFlavorDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsChangeFlavorDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VpsChangeFlavorDto"}}}},"responses":{"202":{"description":"Accepted"},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.CloudV1/vps/{id}/networkadpaters":{"get":{"tags":["Vps"],"summary":"List network adapters of a vps.","parameters":[{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VpsNetworkAdapterResponseDto"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VpsNetworkAdapterResponseDto"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VpsNetworkAdapterResponseDto"}}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/providers/Aruba.CloudV1/vps/catalog":{"get":{"tags":["Vps"],"summary":"Get Vps catalog","parameters":[{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}},{"name":"projection","in":"query","schema":{"type":"string"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VpsCatalogResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/VpsCatalogResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsCatalogResponseDto"}}}}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.CloudV1/vps/{id}/operations":{"get":{"tags":["Vps"],"summary":"List operations of a vps: active jobs (in queue) and scheduled operations.","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VpsOperationListResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/VpsOperationListResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsOperationListResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.CloudV1/vps/{id}/auditing":{"get":{"tags":["Vps"],"summary":"List the activity log (registro attività) of a vps.","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}},{"name":"projection","in":"query","schema":{"type":"string"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VpsAuditingResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/VpsAuditingResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsAuditingResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.CloudV1/vps/{id}/console":{"get":{"tags":["Vps"],"summary":"Get the console access data (ip address and url) of a vps.","parameters":[{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VpsConsoleResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/VpsConsoleResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsConsoleResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.CloudV1/vps/{id}/operations/{operationId}":{"put":{"tags":["Vps"],"summary":"Update a VPS scheduled operation.","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VpsUpdateScheduledOperationDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsUpdateScheduledOperationDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VpsUpdateScheduledOperationDto"}}}},"responses":{"202":{"description":"Accepted"},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"delete":{"tags":["Vps"],"summary":"Delete a VPS scheduled operation.","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"operationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"202":{"description":"Accepted"},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"403":{"description":"Forbidden","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.CloudV1/vps/{id}/templates":{"get":{"tags":["Vps"],"summary":"Get available OS templates for a VPS (resolved from the VPS hypervisor type).","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VpsTemplateListResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/VpsTemplateListResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VpsTemplateListResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}}},"components":{"schemas":{"AuthorizationDto":{"type":"object","properties":{"subject":{"$ref":"#/components/schemas/SubjectDto"},"scope":{"$ref":"#/components/schemas/ScopeDto"},"resource":{"type":"string"},"provider":{"type":"string"},"verb":{"type":"string"}},"additionalProperties":false},"AuthorizationProjectRequestDto":{"required":["serviceID","serviceType"],"type":"object","properties":{"subject":{"$ref":"#/components/schemas/SubjectDto"},"scope":{"$ref":"#/components/schemas/ScopeDto"},"serviceType":{"type":"string"},"serviceID":{"type":"integer","format":"int32"}},"additionalProperties":false},"BillingPeriods":{"enum":["minute","hour","month","year"],"type":"string"},"BillingPlanResponseDto":{"type":"object","properties":{"billingPeriod":{"type":"string","nullable":true}},"additionalProperties":false},"CategoryDto":{"required":["name","typology"],"type":"object","properties":{"name":{"type":"string"},"typology":{"$ref":"#/components/schemas/TypologyDto"}},"additionalProperties":false},"CategoryResponseDto":{"type":"object","properties":{"name":{"type":"string","nullable":true},"provider":{"type":"string","nullable":true},"typology":{"$ref":"#/components/schemas/TypologyResponseDto"}},"additionalProperties":false},"DisableStatusInfoResponseDto":{"type":"object","properties":{"isDisabled":{"type":"boolean"},"reasons":{"type":"array","items":{"type":"string"}},"previousStatus":{"$ref":"#/components/schemas/PreviousStatusResponseDto"}},"additionalProperties":false},"EcommerceResponseDto":{"type":"object","properties":{"subscriptionServices":{"$ref":"#/components/schemas/SubscriptionServicesResponseDto"}},"additionalProperties":false},"LegacyPaymentTypes":{"enum":["creditCard","payPal","ingenico","sdd","wallet"],"type":"string"},"LegacyResourceBatchRequestDto":{"required":["items"],"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/RequestGroup"}}},"additionalProperties":false},"LegacyResourceBatchResponseDto":{"required":["items"],"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/ResponseGroup"}}},"additionalProperties":false},"LegacyResourceDto":{"required":["category","createdBy","id","location","name","ownerId","project","status","uri"],"type":"object","properties":{"id":{"type":"string"},"uri":{"type":"string"},"name":{"type":"string"},"ownerId":{"type":"string"},"category":{"$ref":"#/components/schemas/CategoryDto"},"location":{"$ref":"#/components/schemas/LocationDto"},"project":{"$ref":"#/components/schemas/ProjectDto"},"status":{"$ref":"#/components/schemas/ResourceStatusDto"},"creationDate":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"updateDate":{"type":"string","format":"date-time","nullable":true},"updatedBy":{"type":"string","nullable":true}},"additionalProperties":false},"LinkedResourceResponseDto":{"type":"object","properties":{"uri":{"type":"string","nullable":true},"strictCorrelation":{"type":"boolean"}},"additionalProperties":false},"LocationDto":{"type":"object","properties":{"value":{"type":"string","description":"Value of the region in which the resource will be located.\r\nAvailable regions at present:\r\n- ITBG-Bergamo\n\nFor more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."}},"additionalProperties":false,"description":"Contains information about the Region of a resource"},"LocationResponseDto":{"type":"object","properties":{"code":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"value":{"type":"string","nullable":true}},"additionalProperties":false},"MetadataResponseDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"uri":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"location":{"$ref":"#/components/schemas/LocationResponseDto"},"project":{"$ref":"#/components/schemas/ProjectResponseDto"},"tags":{"type":"array","items":{"type":"string"},"nullable":true},"category":{"$ref":"#/components/schemas/CategoryResponseDto"},"creationDate":{"type":"string","format":"date-time","nullable":true},"createdBy":{"type":"string","nullable":true},"ownerId":{"type":"string","nullable":true},"updateDate":{"type":"string","format":"date-time","nullable":true},"updatedBy":{"type":"string","nullable":true},"version":{"type":"string","nullable":true},"createdUser":{"type":"string","nullable":true},"updatedUser":{"type":"string","nullable":true},"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/LinkedResourceResponseDto"},"nullable":true},"managedBy":{"type":"string","nullable":true},"annotations":{"type":"object","additionalProperties":{},"nullable":true}},"additionalProperties":false},"PreviousStatusResponseDto":{"type":"object","properties":{"state":{"type":"string","nullable":true},"creationDate":{"type":"string","format":"date-time","nullable":true}},"additionalProperties":false},"ProblemDetails":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"ProjectAuthorizationInfo":{"required":["projectId","serviceID","userId"],"type":"object","properties":{"userId":{"type":"string"},"projectId":{"type":"string"},"serviceType":{"type":"string","nullable":true},"serviceID":{"type":"integer","format":"int32"},"autorecharge":{"type":"boolean"},"projects":{"type":"array","items":{"$ref":"#/components/schemas/ProjectInfo"}}},"additionalProperties":false},"ProjectDto":{"required":["id"],"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","nullable":true}},"additionalProperties":false},"ProjectInfo":{"required":["id","name"],"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"additionalProperties":false},"ProjectResponseDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"folderId":{"type":"string","nullable":true}},"additionalProperties":false},"RequestGroup":{"required":["serviceIds","serviceType"],"type":"object","properties":{"serviceType":{"type":"string"},"serviceIds":{"type":"array","items":{"type":"integer","format":"int32"}}},"additionalProperties":false},"ResourceStatusDto":{"required":["creationDate","state"],"type":"object","properties":{"state":{"type":"string"},"creationDate":{"type":"string","format":"date-time"}},"additionalProperties":false},"ResponseGroup":{"required":["found","notFound","serviceType","unauthorized"],"type":"object","properties":{"serviceType":{"type":"string"},"found":{"type":"array","items":{"$ref":"#/components/schemas/LegacyResourceDto"}},"notFound":{"type":"array","items":{"type":"integer","format":"int32"}},"unauthorized":{"type":"array","items":{"type":"integer","format":"int32"}}},"additionalProperties":false},"ScopeDto":{"type":"object","properties":{"folderId":{"type":"string","nullable":true},"projectId":{"type":"string","nullable":true},"region":{"type":"string","nullable":true}},"additionalProperties":false},"SendNotificationRequestDto":{"type":"object","properties":{"ownerId":{"type":"string","nullable":true},"dataCenterId":{"type":"integer","format":"int32","nullable":true},"serviceType":{"type":"string","nullable":true},"serviceId":{"type":"integer","format":"int32","nullable":true},"serviceName":{"type":"string","nullable":true},"notificationType":{"type":"string","nullable":true},"notificationAction":{"type":"string","nullable":true},"params":{"type":"string","nullable":true}},"additionalProperties":false},"ServiceResponseDto":{"type":"object","properties":{"initialOrder":{"type":"boolean","nullable":true},"orderItemId":{"type":"string","nullable":true},"productVariantId":{"type":"string","nullable":true},"productPlanId":{"type":"string","nullable":true},"type":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"serviceId":{"type":"string","nullable":true},"serviceGroupId":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"creationDate":{"type":"string","format":"date-time","nullable":true},"quantity":{"type":"integer","format":"int32","nullable":true},"totalPrice":{"type":"number","format":"double","nullable":true}},"additionalProperties":false},"SetProjectRequestDto":{"required":["autorecharge","projectId","subject"],"type":"object","properties":{"projectId":{"type":"string"},"autorecharge":{"type":"boolean"},"subject":{"$ref":"#/components/schemas/SetProjectSubjectDto"}},"additionalProperties":false},"SetProjectSubjectDto":{"required":["userId"],"type":"object","properties":{"userId":{"type":"string"}},"additionalProperties":false},"StatusErrorResponseDto":{"type":"object","properties":{"reason":{"type":"string","nullable":true},"message":{"type":"string","nullable":true}},"additionalProperties":false},"StatusResponseDto":{"type":"object","properties":{"state":{"type":"string","nullable":true},"creationDate":{"type":"string","format":"date-time","nullable":true},"disableStatusInfo":{"$ref":"#/components/schemas/DisableStatusInfoResponseDto"},"failureReason":{"type":"string","nullable":true},"error":{"$ref":"#/components/schemas/StatusErrorResponseDto"},"reservedTo":{"type":"string","nullable":true}},"additionalProperties":false},"SubjectDto":{"type":"object","properties":{"userId":{"type":"string"},"tenantId":{"type":"string","nullable":true}},"additionalProperties":false},"SubscriptionServicesResponseDto":{"type":"object","properties":{"serviceBasketId":{"type":"string","nullable":true},"subscriptionId":{"type":"string","nullable":true},"billingContainerId":{"type":"string","nullable":true},"serviceGroupId":{"type":"string","nullable":true},"orderId":{"type":"string","nullable":true},"currency":{"type":"string","nullable":true},"totalPrice":{"type":"number","format":"double","nullable":true},"plan":{"$ref":"#/components/schemas/BillingPlanResponseDto"},"services":{"type":"array","items":{"$ref":"#/components/schemas/ServiceResponseDto"}}},"additionalProperties":false},"TypologyDto":{"required":["id","name"],"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"additionalProperties":false},"TypologyResponseDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"VpsActionsDto":{"type":"object","properties":{"executed":{"type":"boolean","nullable":true}},"additionalProperties":false},"VpsAuditingItemResponseDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"command":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"context":{"type":"string","nullable":true},"user":{"type":"string","nullable":true},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"}},"additionalProperties":false},"VpsAuditingResponseDto":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"self":{"type":"string","nullable":true},"prev":{"type":"string","nullable":true},"next":{"type":"string","nullable":true},"first":{"type":"string","nullable":true},"last":{"type":"string","nullable":true},"values":{"type":"array","items":{"$ref":"#/components/schemas/VpsAuditingItemResponseDto"}}},"additionalProperties":false},"VpsCatalogItemResponseDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"flavorId":{"type":"string","nullable":true},"flavorName":{"type":"string","nullable":true},"cpu":{"type":"integer","format":"int32"},"ram":{"type":"integer","format":"int32"},"disksize":{"type":"integer","format":"int32"},"bandwidth":{"type":"integer","format":"int32"},"hypervisor":{"type":"string","nullable":true},"tier":{"type":"string","nullable":true},"availableOperatingSystems":{"type":"array","items":{"type":"string"}},"priceFrom":{"type":"number","format":"double"}},"additionalProperties":false},"VpsCatalogResponseDto":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"self":{"type":"string","nullable":true},"prev":{"type":"string","nullable":true},"next":{"type":"string","nullable":true},"first":{"type":"string","nullable":true},"last":{"type":"string","nullable":true},"values":{"type":"array","items":{"$ref":"#/components/schemas/VpsCatalogItemResponseDto"}}},"additionalProperties":false},"VpsChangeFlavorDto":{"type":"object","properties":{"flavorId":{"type":"string","nullable":true},"restartAfterExecuted":{"type":"boolean"}},"additionalProperties":false},"VpsConsoleResponseDto":{"type":"object","properties":{"ipAddress":{"type":"string","nullable":true},"url":{"type":"string","nullable":true}},"additionalProperties":false},"VpsCreateDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"},"properties":{"$ref":"#/components/schemas/VpsCreatePropertiesDto"}},"additionalProperties":false},"VpsCreatePropertiesDto":{"type":"object","properties":{"administratorPassword":{"type":"string","nullable":true},"sshKey":{"type":"string","nullable":true},"sshPasswordAuthAllowed":{"type":"boolean"},"osTemplateId":{"type":"integer","format":"int32"},"packageID":{"type":"integer","format":"int32"},"configureIPv6":{"type":"boolean"},"vmmServerType":{"type":"string","nullable":true}},"additionalProperties":false},"VpsItemPropertiesResponseDto":{"type":"object","properties":{"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/LinkedResourceResponseDto"},"nullable":true},"flavorId":{"type":"integer","format":"int32","nullable":true},"flavorName":{"type":"string","nullable":true},"cpu":{"type":"integer","format":"int32"},"ram":{"type":"integer","format":"int32"},"diskSpace":{"type":"integer","format":"int32"},"hypervisor":{"type":"string","nullable":true},"dueDate":{"type":"string","format":"date-time","nullable":true},"ipAddress":{"type":"string","nullable":true},"projectName":{"type":"string","nullable":true}},"additionalProperties":false},"VpsItemResponseDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataResponseDto"},"status":{"$ref":"#/components/schemas/StatusResponseDto"},"properties":{"$ref":"#/components/schemas/VpsItemPropertiesResponseDto"}},"additionalProperties":false},"VpsListResponseDto":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"self":{"type":"string","nullable":true},"prev":{"type":"string","nullable":true},"next":{"type":"string","nullable":true},"first":{"type":"string","nullable":true},"last":{"type":"string","nullable":true},"values":{"type":"array","items":{"$ref":"#/components/schemas/VpsItemResponseDto"}}},"additionalProperties":false},"VpsNetworkAdapterResponseDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"type":{"$ref":"#/components/schemas/VpsNetworkAdapterTypes"},"macAddress":{"type":"string","nullable":true},"ipAddress":{"type":"string","nullable":true},"virtualSwitchId":{"type":"string","nullable":true},"virtualSwitchName":{"type":"string","nullable":true},"status":{"type":"string","nullable":true}},"additionalProperties":false},"VpsNetworkAdapterTypes":{"enum":["ethernet0","ethernet1","ethernet2"],"type":"string"},"VpsOperationListResponseDto":{"type":"object","properties":{"activeJobs":{"type":"array","items":{"$ref":"#/components/schemas/VpsOperationResponseDto"}},"scheduledOperations":{"type":"array","items":{"$ref":"#/components/schemas/VpsScheduledOperationResponseDto"}}},"additionalProperties":false},"VpsOperationResponseDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"progress":{"type":"integer","format":"int32"},"creationDate":{"type":"string","format":"date-time"},"lastUpdateDate":{"type":"string","format":"date-time"}},"additionalProperties":false},"VpsPropertiesResponseDto":{"type":"object","properties":{"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/LinkedResourceResponseDto"},"nullable":true},"flavorId":{"type":"integer","format":"int32","nullable":true},"flavorName":{"type":"string","nullable":true},"cpu":{"type":"integer","format":"int32"},"ram":{"type":"integer","format":"int32"},"diskSpace":{"type":"integer","format":"int32"},"hypervisor":{"type":"string","nullable":true},"dueDate":{"type":"string","format":"date-time","nullable":true},"ipAddress":{"type":"string","nullable":true},"projectName":{"type":"string","nullable":true},"privateIpAddress":{"type":"string","nullable":true},"templateName":{"type":"string","nullable":true},"activationDate":{"type":"string","format":"date-time"},"snapshotCount":{"type":"integer","format":"int32"},"snapshotInCreation":{"type":"boolean"},"bandwidth":{"type":"integer","format":"int32","nullable":true},"fullPrice":{"type":"number","format":"double"},"currentPrice":{"type":"number","format":"double"},"billingPeriod":{"$ref":"#/components/schemas/BillingPeriods"},"note":{"type":"string","nullable":true},"autoRenewEnabled":{"type":"boolean"},"autoRenewDeviceId":{"type":"string","nullable":true},"deviceType":{"$ref":"#/components/schemas/LegacyPaymentTypes"},"renewMonths":{"type":"integer","format":"int64","nullable":true},"renewAllowed":{"type":"boolean"},"hasActiveJobs":{"type":"boolean"},"isLocked":{"type":"boolean"},"serverId":{"type":"integer","format":"int32"}},"additionalProperties":false},"VpsReinitDto":{"type":"object","properties":{"templateId":{"type":"integer","format":"int32","nullable":true},"password":{"type":"string","nullable":true},"sshKey":{"type":"string","nullable":true},"sshPasswordAuthAllowed":{"type":"boolean","nullable":true},"configureIpv4":{"type":"boolean","nullable":true}},"additionalProperties":false},"VpsResponseDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataResponseDto"},"status":{"$ref":"#/components/schemas/StatusResponseDto"},"properties":{"$ref":"#/components/schemas/VpsPropertiesResponseDto"}},"additionalProperties":false},"VpsScheduledOperationResponseDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"operationType":{"type":"string","nullable":true},"serverName":{"type":"string","nullable":true},"activationDate":{"type":"string","format":"date-time"},"lastExecutionDate":{"type":"string","format":"date-time"},"frequencyType":{"type":"string","nullable":true},"frequency":{"type":"integer","format":"int32","nullable":true},"operationLabel":{"type":"string","nullable":true}},"additionalProperties":false},"VpsSnapshotListResponseDto":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"self":{"type":"string","nullable":true},"prev":{"type":"string","nullable":true},"next":{"type":"string","nullable":true},"first":{"type":"string","nullable":true},"last":{"type":"string","nullable":true},"values":{"type":"array","items":{"$ref":"#/components/schemas/VpsSnapshotResponseDto"}}},"additionalProperties":false},"VpsSnapshotResponseDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"creationDate":{"type":"string","format":"date-time","nullable":true},"expirationDate":{"type":"string","format":"date-time","nullable":true},"status":{"type":"string","nullable":true}},"additionalProperties":false},"VpsTemplateItemResponseDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"osFamily":{"type":"string","nullable":true},"hypervisorType":{"type":"string","nullable":true}},"additionalProperties":false},"VpsTemplateListResponseDto":{"type":"object","properties":{"totalCount":{"type":"integer","format":"int64"},"values":{"type":"array","items":{"$ref":"#/components/schemas/VpsTemplateItemResponseDto"}}},"additionalProperties":false},"VpsUpdateDto":{"type":"object","properties":{"name":{"type":"string","nullable":true},"projectId":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}}},"additionalProperties":false},"VpsUpdateScheduledOperationDto":{"type":"object","properties":{"operationType":{"type":"string","nullable":true},"scheduleStartDateTime":{"type":"string","format":"date-time"},"scheduleEndDateTime":{"type":"string","format":"date-time","nullable":true},"frequencyType":{"type":"string","nullable":true},"frequency":{"type":"integer","format":"int32","nullable":true},"operationLabel":{"type":"string","nullable":true}},"additionalProperties":false},"VpsUpsertNotesDto":{"type":"object","properties":{"notes":{"type":"string","nullable":true}},"additionalProperties":false},"CallBackType":{"enum":["Validate","Mutate"],"type":"string"},"CallBackUri":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/CallBackType"},"uri":{"type":"string","format":"uri","nullable":true}},"additionalProperties":false},"LinkedResourceDto":{"type":"object","properties":{"uri":{"type":"string","description":"Uri of the resource to link","nullable":true}},"additionalProperties":false,"description":"Linked resource"},"MetadataDto":{"type":"object","properties":{"name":{"type":"string","description":"Name of the resource"},"location":{"$ref":"#/components/schemas/LocationDto"},"tags":{"type":"array","items":{"type":"string"},"description":"List of tags for the resource","nullable":true}},"additionalProperties":false,"description":"Metadata of the resource"},"MetadataDtoV2":{"type":"object","properties":{"name":{"type":"string","description":"Name of the resource"},"tags":{"type":"array","items":{"type":"string"},"description":"List of tags for the resource","nullable":true}},"additionalProperties":false,"description":"Metadata of the resource"},"PropertiesBaseDto":{"type":"object","properties":{"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/LinkedResourceDto"},"description":"List of linked resources","nullable":true}},"additionalProperties":false},"ProviderConfig":{"type":"object","properties":{"name":{"type":"string","nullable":true},"uri":{"type":"string","nullable":true},"providerResourceConfigs":{"type":"array","items":{"$ref":"#/components/schemas/ProviderResourceConfig"},"nullable":true}},"additionalProperties":false},"ProviderResourceConfig":{"type":"object","properties":{"resource":{"type":"string","nullable":true},"callBackUris":{"type":"array","items":{"$ref":"#/components/schemas/CallBackUri"},"nullable":true}},"additionalProperties":false},"ResourceBaseDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"},"properties":{"$ref":"#/components/schemas/PropertiesBaseDto"}},"additionalProperties":false,"description":"Classe base del full paylod di una risorsa con tipizzazione a object delle custom properties\r\ne delle extra info della tipologia"},"ResourceBaseDtoV2":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDtoV2"},"properties":{"$ref":"#/components/schemas/PropertiesBaseDto"}},"additionalProperties":false,"description":"Classe base del full paylod di una risorsa con tipizzazione a object delle custom properties\r\ne delle extra info della tipologia"}},"securitySchemes":{"Bearer":{"type":"http","description":"Enter the JWT Bearer token.","scheme":"bearer","bearerFormat":"JWT"}}},"security":[{"Bearer":[]}]}