{"openapi":"3.0.1","info":{"title":"Aruba.CmpService.Computing.Api","description":"Aruba.CmpService.Computing.Api HTTP API\n\nDownload the <a href=\"/openapi/compute-provider.json\" target=\"_blank\"> OpenAPI file</a>","version":"1.0.0"},"servers":[{"url":"https://api.arubacloud.com"}],"paths":{"/projects/{projectId}/providers/Aruba.Compute/cloudServers":{"get":{"tags":["CloudServer"],"summary":"List CloudServers","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}},{"name":"projection","in":"query","schema":{"type":"string"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/CloudServerListResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/CloudServerListResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/CloudServerListResponseDto"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Compute/cloudServers/{cloudServerId}":{"get":{"tags":["CloudServer"],"summary":"Get CloudServer","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"cloudServerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudServerResponseDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"delete":{"tags":["CloudServer"],"summary":"Delete CloudServer","parameters":[{"name":"cloudServerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"deleteBootVolumeOnCascade","in":"query","schema":{"type":"boolean"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudServerResponseDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Compute/cloudServers/{cloudServerId}/poweron":{"post":{"tags":["CloudServer"],"summary":"Power on CloudServer","parameters":[{"name":"cloudServerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudServerResponseDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Compute/cloudServers/{cloudServerId}/poweroff":{"post":{"tags":["CloudServer"],"summary":"Power off CloudServer","parameters":[{"name":"cloudServerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudServerResponseDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Compute/cloudServers/{cloudServerId}/associateDisassociateSubnets":{"post":{"tags":["CloudServer"],"summary":"Manage Subnets","parameters":[{"name":"cloudServerId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssociateDisassociateSubnetsDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/AssociateDisassociateSubnetsDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AssociateDisassociateSubnetsDto"}}}},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudServerResponseDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Compute/cloudServers/{cloudServerId}/associateDisassociateSecurityGroups":{"post":{"tags":["CloudServer"],"summary":"Manage SecurityGroups","parameters":[{"name":"cloudServerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssociateDisassociateSecurityGroupsDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/AssociateDisassociateSecurityGroupsDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AssociateDisassociateSecurityGroupsDto"}}}},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudServerResponseDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Compute/cloudServers/{cloudServerId}/associateDisassociateElasticIPs":{"post":{"tags":["CloudServer"],"summary":"Manage ElasticIPs","parameters":[{"name":"cloudServerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssociateDisassociateElasticIpsDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/AssociateDisassociateElasticIpsDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AssociateDisassociateElasticIpsDto"}}}},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudServerResponseDto"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Compute/cloudServers/{cloudServerId}/attachDetachDataVolumes":{"post":{"tags":["CloudServer"],"summary":"Manage DataVolumes","parameters":[{"name":"cloudServerId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttachDetachVolumesDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/AttachDetachVolumesDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AttachDetachVolumesDto"}}}},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudServerResponseDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Compute/cloudServers/{cloudServerId}/password":{"post":{"tags":["CloudServer"],"summary":"Set CloudServer password","parameters":[{"name":"cloudServerId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetPasswordDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/SetPasswordDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/SetPasswordDto"}}}},"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Compute/cloudServers/{cloudServerId}/restore":{"post":{"tags":["CloudServer"],"summary":"Restore snapshot from a created volume","parameters":[{"name":"cloudServerId","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RestoreFromVolumeDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/RestoreFromVolumeDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/RestoreFromVolumeDto"}}}},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudServerResponseDto"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Compute/keyPairs":{"get":{"tags":["KeyPair"],"summary":"List KeyPair","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}},{"name":"projection","in":"query","schema":{"type":"string"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/KeyPairResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/KeyPairResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/KeyPairResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"post":{"tags":["KeyPair"],"summary":"Create KeyPair","parameters":[{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeyPairDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/KeyPairDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/KeyPairDto"}}}},"responses":{"201":{"description":"Created","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/KeyPairResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/KeyPairResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/KeyPairResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Compute/keyPairs/{keyPairId}":{"get":{"tags":["KeyPair"],"summary":"Get KeyPair","parameters":[{"name":"keyPairId","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/KeyPairResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/KeyPairResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/KeyPairResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"delete":{"tags":["KeyPair"],"summary":"Delete KeyPair","parameters":[{"name":"keyPairId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/KeyPairResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/KeyPairResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/KeyPairResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}}},"components":{"schemas":{"Addon":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"AddonDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"productName":{"type":"string","nullable":true},"attributes":{"type":"object","additionalProperties":{"type":"string"}},"price":{"type":"number","format":"double","nullable":true},"plans":{"type":"array","items":{"$ref":"#/components/schemas/PricingPlanDto"},"nullable":true},"extraInfo":{"$ref":"#/components/schemas/ProductExtraInfoDto"}},"additionalProperties":false},"AssociateDisassociateElasticIpsDto":{"type":"object","properties":{"elasticIPsToAssociate":{"type":"array","items":{"$ref":"#/components/schemas/GenericResourceDto"}},"elasticIPsToDisassociate":{"type":"array","items":{"$ref":"#/components/schemas/GenericResourceDto"}}},"additionalProperties":false},"AssociateDisassociateSecurityGroupsDto":{"type":"object","properties":{"securityGroupsToAssociate":{"type":"array","items":{"$ref":"#/components/schemas/GenericResourceDto"}},"securityGroupsToDisassociate":{"type":"array","items":{"$ref":"#/components/schemas/GenericResourceDto"}}},"additionalProperties":false},"AssociateDisassociateSubnetsDto":{"type":"object","properties":{"subnetsToAssociate":{"type":"array","items":{"$ref":"#/components/schemas/GenericResourceDto"}},"subnetsToDisassociate":{"type":"array","items":{"$ref":"#/components/schemas/GenericResourceDto"}}},"additionalProperties":false},"AttachDetachVolumesDto":{"type":"object","properties":{"volumesToAttach":{"type":"array","items":{"$ref":"#/components/schemas/GenericResourceDto"}},"volumesToDetach":{"type":"array","items":{"$ref":"#/components/schemas/GenericResourceDto"}}},"additionalProperties":false},"BillingPlanDto":{"type":"object","properties":{"billingPeriod":{"type":"string","nullable":true}},"additionalProperties":false},"BillingPlanResponseDto":{"type":"object","properties":{"billingPeriod":{"type":"string","nullable":true}},"additionalProperties":false},"CategoryResponseDto":{"type":"object","properties":{"name":{"type":"string","nullable":true},"provider":{"type":"string","nullable":true},"typology":{"$ref":"#/components/schemas/TypologyResponseDto"}},"additionalProperties":false},"CloudServerDtoDeprecated":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"category":{"$ref":"#/components/schemas/CloudServerTypologyExtraInfoCategoryDto"},"location":{"$ref":"#/components/schemas/LocationDto"},"project":{"$ref":"#/components/schemas/ProjectDto"},"tags":{"type":"array","items":{"type":"string"},"nullable":true},"identity":{"$ref":"#/components/schemas/IdentityDto"},"scope":{"type":"string","nullable":true},"properties":{"$ref":"#/components/schemas/CloudServerPropertiesDtoDeprecated"}},"additionalProperties":false},"CloudServerExtendedDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"category":{"$ref":"#/components/schemas/CloudServerTypologyExtraInfoCategoryDto"},"location":{"$ref":"#/components/schemas/LocationDto"},"project":{"$ref":"#/components/schemas/ProjectDto"},"tags":{"type":"array","items":{"type":"string"},"nullable":true},"identity":{"$ref":"#/components/schemas/IdentityDto"},"scope":{"type":"string","nullable":true},"properties":{"$ref":"#/components/schemas/CloudServerPropertiesDto"},"resourceConfiguration":{"type":"array","items":{"$ref":"#/components/schemas/ComponentConfigurationDto"},"nullable":true},"relatesTo":{"type":"array","items":{"$ref":"#/components/schemas/RelatesToDto"},"nullable":true}},"additionalProperties":false},"CloudServerExtraInfoProperties":{"type":"object","properties":{"maxCountSubnet":{"type":"integer","format":"int32","nullable":true},"maxCountSecurityGroup":{"type":"integer","format":"int32","nullable":true},"maxCountSnapshot":{"type":"integer","format":"int32","nullable":true},"maxCountAdditionalIP":{"type":"integer","format":"int32","nullable":true},"resourceSize":{"$ref":"#/components/schemas/ResourceSizeExtraInfo"},"cloudServerVolume":{"$ref":"#/components/schemas/CloudServerVolume"}},"additionalProperties":false},"CloudServerFlavorDto":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"category":{"type":"string"},"cpu":{"type":"integer","format":"int32"},"ram":{"type":"integer","format":"int32"},"hd":{"type":"integer","format":"int32"}},"additionalProperties":false},"CloudServerListResponseDto":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"self":{"type":"string","nullable":true},"prev":{"type":"string","nullable":true},"next":{"type":"string","nullable":true},"first":{"type":"string","nullable":true},"last":{"type":"string","nullable":true},"values":{"type":"array","items":{"$ref":"#/components/schemas/CloudServerResponseDto"}}},"additionalProperties":false},"CloudServerNetworkInterfaceDto":{"type":"object","properties":{"subnet":{"type":"string","nullable":true},"macAddress":{"type":"string","nullable":true},"ips":{"type":"array","items":{"type":"string"},"nullable":true},"properties":{"type":"object","additionalProperties":{"type":"string"},"nullable":true}},"additionalProperties":false},"CloudServerPropertiesDto":{"type":"object","properties":{"dataCenter":{"type":"string","nullable":true,"description":"For more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."},"vpc":{"$ref":"#/components/schemas/GenericResourceDto"},"vpcPreset":{"type":"boolean","nullable":true},"flavorName":{"type":"string","nullable":true,"description":"For more information, check the <a href=\"${pathFix}/docs/metadata/#cloudserver-flavors\" target=\"_blank\">documentation</a>."},"elasticIp":{"$ref":"#/components/schemas/GenericResourceDto"},"bootVolume":{"$ref":"#/components/schemas/GenericResourceDto","description":"For more information, check the <a href=\"${pathFix}/docs/metadata/#cloud-server-bootvolume\" target=\"_blank\">documentation</a>."},"keyPair":{"$ref":"#/components/schemas/GenericResourceDto"},"subnets":{"type":"array","items":{"$ref":"#/components/schemas/GenericResourceDto"},"nullable":true},"securityGroups":{"type":"array","items":{"$ref":"#/components/schemas/GenericResourceDto"},"nullable":true},"userData":{"type":"string","nullable":true}},"additionalProperties":false},"CloudServerPropertiesDtoCloudServerTypologyExtraInfoResourceExtendedDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"category":{"$ref":"#/components/schemas/CloudServerTypologyExtraInfoCategoryDto"},"location":{"$ref":"#/components/schemas/LocationDto"},"project":{"$ref":"#/components/schemas/ProjectDto"},"tags":{"type":"array","items":{"type":"string"},"nullable":true},"identity":{"$ref":"#/components/schemas/IdentityDto"},"scope":{"type":"string","nullable":true},"properties":{"$ref":"#/components/schemas/CloudServerPropertiesDto"},"resourceConfiguration":{"type":"array","items":{"$ref":"#/components/schemas/ComponentConfigurationDto"},"nullable":true},"relatesTo":{"type":"array","items":{"$ref":"#/components/schemas/RelatesToDto"},"nullable":true}},"additionalProperties":false},"CloudServerPropertiesDtoDeprecated":{"type":"object","properties":{"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/LinkedResourceDto"},"nullable":true},"dataCenter":{"type":"string","nullable":true,"description":"For more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."},"vpc":{"$ref":"#/components/schemas/GenericResourceDto"},"vpcPreset":{"type":"boolean","nullable":true},"template":{"$ref":"#/components/schemas/GenericResourceDto"},"addElasticIp":{"type":"boolean"},"elasticIp":{"$ref":"#/components/schemas/GenericResourceDto"},"keyPair":{"$ref":"#/components/schemas/GenericResourceDto"},"initialPassword":{"type":"string","nullable":true},"subnets":{"type":"array","items":{"$ref":"#/components/schemas/GenericResourceDto"},"nullable":true},"securityGroups":{"type":"array","items":{"$ref":"#/components/schemas/GenericResourceDto"},"nullable":true},"volumes":{"type":"array","items":{"$ref":"#/components/schemas/GenericResourceDto"},"nullable":true}},"additionalProperties":false},"CloudServerPropertiesResponseDto":{"type":"object","properties":{"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/LinkedResourceResponseDto"}},"vpc":{"$ref":"#/components/schemas/GenericResourceDto"},"dataCenter":{"type":"string","description":"For more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."},"flavor":{"$ref":"#/components/schemas/CloudServerFlavorDto"},"bootVolume":{"$ref":"#/components/schemas/GenericResourceDto"},"keyPair":{"$ref":"#/components/schemas/GenericResourceDto"},"networkInterfaces":{"type":"array","items":{"$ref":"#/components/schemas/CloudServerNetworkInterfaceDto"}}},"additionalProperties":false},"CloudServerResponseDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataResponseDto"},"status":{"$ref":"#/components/schemas/StatusResponseDto"},"properties":{"$ref":"#/components/schemas/CloudServerPropertiesResponseDto"}},"additionalProperties":false},"CloudServerSnapshotDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"category":{"$ref":"#/components/schemas/CloudServerSnapshotTypologyExtraInfoCategoryDto"},"location":{"$ref":"#/components/schemas/LocationDto"},"project":{"$ref":"#/components/schemas/ProjectDto"},"tags":{"type":"array","items":{"type":"string"},"nullable":true},"identity":{"$ref":"#/components/schemas/IdentityDto"},"scope":{"type":"string","nullable":true},"properties":{"$ref":"#/components/schemas/CloudServerSnapshotPropertiesDto"},"resourceConfiguration":{"type":"array","items":{"$ref":"#/components/schemas/ComponentConfigurationDto"},"nullable":true},"relatesTo":{"type":"array","items":{"$ref":"#/components/schemas/RelatesToDto"},"nullable":true}},"additionalProperties":false},"CloudServerSnapshotListResponseDto":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"self":{"type":"string","nullable":true},"prev":{"type":"string","nullable":true},"next":{"type":"string","nullable":true},"first":{"type":"string","nullable":true},"last":{"type":"string","nullable":true},"values":{"type":"array","items":{"$ref":"#/components/schemas/CloudServerSnapshotResponseDto"}}},"additionalProperties":false},"CloudServerSnapshotPropertiesDto":{"type":"object","properties":{"cloudServer":{"$ref":"#/components/schemas/GenericResourceDto"}},"additionalProperties":false},"CloudServerSnapshotPropertiesDtoCloudServerSnapshotTypologyExtraInfoResourceExtendedDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"category":{"$ref":"#/components/schemas/CloudServerSnapshotTypologyExtraInfoCategoryDto"},"location":{"$ref":"#/components/schemas/LocationDto"},"project":{"$ref":"#/components/schemas/ProjectDto"},"tags":{"type":"array","items":{"type":"string"},"nullable":true},"identity":{"$ref":"#/components/schemas/IdentityDto"},"scope":{"type":"string","nullable":true},"properties":{"$ref":"#/components/schemas/CloudServerSnapshotPropertiesDto"},"resourceConfiguration":{"type":"array","items":{"$ref":"#/components/schemas/ComponentConfigurationDto"},"nullable":true},"relatesTo":{"type":"array","items":{"$ref":"#/components/schemas/RelatesToDto"},"nullable":true}},"additionalProperties":false},"CloudServerSnapshotPropertiesResponseDto":{"type":"object","properties":{"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/LinkedResourceResponseDto"}},"cloudServer":{"$ref":"#/components/schemas/GenericResourceDto"},"size":{"type":"integer","format":"int32"}},"additionalProperties":false},"CloudServerSnapshotResponseDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataResponseDto"},"status":{"$ref":"#/components/schemas/StatusResponseDto"},"properties":{"$ref":"#/components/schemas/CloudServerSnapshotPropertiesResponseDto"}},"additionalProperties":false},"CloudServerSnapshotTypologyExtraInfo":{"type":"object","additionalProperties":false},"CloudServerSnapshotTypologyExtraInfoCategoryDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"provider":{"type":"string","nullable":true},"typology":{"$ref":"#/components/schemas/CloudServerSnapshotTypologyExtraInfoTypologyDto"}},"additionalProperties":false},"CloudServerSnapshotTypologyExtraInfoTypologyDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"controllerName":{"type":"string","nullable":true},"limitResourceAvailableForLocation":{"type":"integer","format":"int32","nullable":true},"extraInfo":{"$ref":"#/components/schemas/CloudServerSnapshotTypologyExtraInfo"},"parents":{"type":"array","items":{"$ref":"#/components/schemas/ParentTypologyDto"},"nullable":true}},"additionalProperties":false},"CloudServerTypologyExtraInfo":{"type":"object","properties":{"extraInfoProperties":{"$ref":"#/components/schemas/CloudServerExtraInfoProperties"}},"additionalProperties":false},"CloudServerTypologyExtraInfoCategoryDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"provider":{"type":"string","nullable":true},"typology":{"$ref":"#/components/schemas/CloudServerTypologyExtraInfoTypologyDto"}},"additionalProperties":false},"CloudServerTypologyExtraInfoTypologyDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"controllerName":{"type":"string","nullable":true},"limitResourceAvailableForLocation":{"type":"integer","format":"int32","nullable":true},"extraInfo":{"$ref":"#/components/schemas/CloudServerTypologyExtraInfo"},"parents":{"type":"array","items":{"$ref":"#/components/schemas/ParentTypologyDto"},"nullable":true}},"additionalProperties":false},"CloudServerUpdateDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"category":{"$ref":"#/components/schemas/CloudServerTypologyExtraInfoCategoryDto"},"location":{"$ref":"#/components/schemas/LocationDto"},"project":{"$ref":"#/components/schemas/ProjectDto"},"tags":{"type":"array","items":{"type":"string"},"nullable":true},"identity":{"$ref":"#/components/schemas/IdentityDto"},"scope":{"type":"string","nullable":true},"properties":{"$ref":"#/components/schemas/CloudServerUpdatePropertiesDto"}},"additionalProperties":false},"CloudServerUpdatePropertiesDto":{"type":"object","properties":{"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/LinkedResourceDto"},"nullable":true}},"additionalProperties":false},"CloudServerVolume":{"type":"object","properties":{"maxCloudServerVolumesCount":{"type":"integer","format":"int32","nullable":true},"minCloudServerVolumeSize":{"type":"integer","format":"int32","nullable":true},"maxCloudServerVolumeSize":{"type":"integer","format":"int32","nullable":true}},"additionalProperties":false},"ComponentConfigurationDto":{"type":"object","properties":{"typology":{"type":"string","nullable":true},"attributes":{"nullable":true}},"additionalProperties":false},"ConsoleUrlDto":{"type":"object","properties":{"url":{"type":"string"},"token":{"type":"string"}},"additionalProperties":false},"DataCenterDto":{"type":"object","properties":{"code":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"allowedServices":{"type":"array","items":{"type":"string"}}},"additionalProperties":false},"DisableMode":{"enum":["Manual","Automatic"],"type":"string"},"DisableReason":{"enum":["Spamming","NoCredit","SQLInjection","Phishing","UnauthorizedStolenCredentialsAccess","Virus","CopyrightViolation","OtherAttackTypes"],"type":"string"},"DisableRequestDto":{"type":"object","properties":{"reason":{"$ref":"#/components/schemas/DisableReason"},"mode":{"$ref":"#/components/schemas/DisableMode"},"note":{"type":"string","nullable":true}},"additionalProperties":false},"DisableStatusInfoResponseDto":{"type":"object","properties":{"isDisabled":{"type":"boolean"},"reasons":{"type":"array","items":{"type":"string"}},"previousStatus":{"$ref":"#/components/schemas/PreviousStatusResponseDto"}},"additionalProperties":false},"EcommerceDto":{"type":"object","properties":{"subscriptionServices":{"$ref":"#/components/schemas/SubscriptionServicesDto"},"productCatalog":{"$ref":"#/components/schemas/ProductCatalogDto"},"project":{"type":"string","nullable":true}},"additionalProperties":false},"EcommerceResponseDto":{"type":"object","properties":{"subscriptionServices":{"$ref":"#/components/schemas/SubscriptionServicesResponseDto"}},"additionalProperties":false},"GenericResourceDto":{"type":"object","properties":{"uri":{"type":"string","nullable":true}},"additionalProperties":false},"IdentityDto":{"type":"object","properties":{"userId":{"type":"string","nullable":true},"username":{"type":"string","nullable":true},"account":{"type":"string","nullable":true},"tenant":{"type":"string","nullable":true},"company":{"type":"string","nullable":true},"groupMembership":{"type":"array","items":{"type":"string"}},"currency":{"type":"string","nullable":true},"azp":{"type":"string","nullable":true}},"additionalProperties":false},"KeyPairDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"},"properties":{"$ref":"#/components/schemas/KeyPairPropertiesDto"}},"additionalProperties":false},"KeyPairPropertiesDto":{"type":"object","properties":{"value":{"type":"string","nullable":true}},"additionalProperties":false},"KeyPairPropertiesResponseDto":{"type":"object","properties":{"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/LinkedResourceResponseDto"}},"value":{"type":"string"}},"additionalProperties":false},"KeyPairResponseDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataResponseDto"},"status":{"$ref":"#/components/schemas/StatusResponseDto"},"properties":{"$ref":"#/components/schemas/KeyPairPropertiesResponseDto"}},"additionalProperties":false},"KeyPairTypologyExtraInfo":{"type":"object","additionalProperties":false},"KeyPairTypologyExtraInfoCategoryDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"provider":{"type":"string","nullable":true},"typology":{"$ref":"#/components/schemas/KeyPairTypologyExtraInfoTypologyDto"}},"additionalProperties":false},"KeyPairTypologyExtraInfoTypologyDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"controllerName":{"type":"string","nullable":true},"limitResourceAvailableForLocation":{"type":"integer","format":"int32","nullable":true},"extraInfo":{"$ref":"#/components/schemas/KeyPairTypologyExtraInfo"},"parents":{"type":"array","items":{"$ref":"#/components/schemas/ParentTypologyDto"},"nullable":true}},"additionalProperties":false},"LinkedResourceDto":{"type":"object","properties":{"uri":{"type":"string","description":"Uri of the resource to link","nullable":true}},"additionalProperties":false,"description":"Linked resource"},"LinkedResourceResponseDto":{"type":"object","properties":{"uri":{"type":"string","nullable":true},"strictCorrelation":{"type":"boolean"}},"additionalProperties":false},"LocationDto":{"type":"object","properties":{"value":{"type":"string","description":"Value of the region in which the resource will be located.\r\nAvailable regions at present:\r\n- ITBG-Bergamo\n\nFor more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."}},"additionalProperties":false,"description":"Contains information about the Region of a resource"},"LocationResponseDto":{"type":"object","properties":{"code":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"value":{"type":"string","nullable":true}},"additionalProperties":false},"MetadataResponseDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"uri":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"location":{"$ref":"#/components/schemas/LocationResponseDto"},"project":{"$ref":"#/components/schemas/ProjectResponseDto"},"tags":{"type":"array","items":{"type":"string"},"nullable":true},"category":{"$ref":"#/components/schemas/CategoryResponseDto"},"creationDate":{"type":"string","format":"date-time","nullable":true},"createdBy":{"type":"string","nullable":true},"updateDate":{"type":"string","format":"date-time","nullable":true},"updatedBy":{"type":"string","nullable":true},"version":{"type":"string","nullable":true},"createdUser":{"type":"string","nullable":true},"updatedUser":{"type":"string","nullable":true}},"additionalProperties":false},"OperativeSystem":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/OsType"},"username":{"type":"string","nullable":true},"family":{"type":"string","nullable":true},"version":{"type":"string","nullable":true}},"additionalProperties":false},"OperativeSystemDto":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/OsType"},"username":{"type":"string","nullable":true},"family":{"type":"string","nullable":true},"version":{"type":"string","nullable":true}},"additionalProperties":false},"OsType":{"enum":["Linux","Windows"],"type":"string"},"ParentTypologyDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"PreviousStatusResponseDto":{"type":"object","properties":{"state":{"type":"string","nullable":true},"creationDate":{"type":"string","format":"date-time","nullable":true}},"additionalProperties":false},"PricingPlanDto":{"type":"object","properties":{"productPlan":{"$ref":"#/components/schemas/ProductPlanDto"},"productPlanPhases":{"type":"array","items":{"$ref":"#/components/schemas/ProductPlanPhasesDto"}}},"additionalProperties":false},"ProblemDetails":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"ProductAttributeDto":{"type":"object","properties":{"name":{"type":"string","nullable":true},"value":{"type":"string","nullable":true}},"additionalProperties":false},"ProductCatalogDto":{"type":"object","properties":{"products":{"type":"array","items":{"$ref":"#/components/schemas/ProductDto"}}},"additionalProperties":false},"ProductDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"variantId":{"type":"string","nullable":true},"variantName":{"type":"string","nullable":true},"categoryName":{"type":"string","nullable":true},"attributes":{"type":"array","items":{"$ref":"#/components/schemas/ProductAttributeDto"},"nullable":true},"plans":{"type":"array","items":{"$ref":"#/components/schemas/PricingPlanDto"},"nullable":true},"addons":{"type":"array","items":{"$ref":"#/components/schemas/AddonDto"}},"extraInfo":{"$ref":"#/components/schemas/ProductExtraInfoDto"}},"additionalProperties":false},"ProductExtraInfoDto":{"type":"object","properties":{"provisioningProductId":{"type":"string","nullable":true},"provisioningProductName":{"type":"string","nullable":true},"trial":{"type":"string","nullable":true},"osType":{"type":"string","nullable":true},"typologyId":{"type":"string","nullable":true}},"additionalProperties":false},"ProductPlanDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"productVariantId":{"type":"string","nullable":true},"displayOrder":{"type":"integer","format":"int32","nullable":true},"attributes":{"type":"object","additionalProperties":{}}},"additionalProperties":false},"ProductPlanPhasesDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"fixedPrice":{"$ref":"#/components/schemas/ProductPriceDto"},"billingPeriod":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"ProductPriceDto":{"type":"object","properties":{"price":{"type":"number","format":"double","nullable":true},"currency":{"type":"string","nullable":true}},"additionalProperties":false},"ProjectDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"ProjectResponseDto":{"type":"object","properties":{"id":{"type":"string","nullable":true}},"additionalProperties":false},"RelatesToDto":{"type":"object","properties":{"typology":{"type":"string","nullable":true},"uri":{"type":"string","nullable":true}},"additionalProperties":false},"ResourceSizeExtraInfo":{"type":"object","properties":{"maxCPUSizePerUser":{"type":"integer","format":"int32","nullable":true},"maxRAMSizePerUser":{"type":"integer","format":"int32","nullable":true}},"additionalProperties":false},"RestoreFromSnapshotDto":{"type":"object","properties":{"snapshotToRestore":{"$ref":"#/components/schemas/GenericResourceDto"}},"additionalProperties":false},"RestoreFromVolumeDto":{"type":"object","properties":{"volumeToRestore":{"$ref":"#/components/schemas/GenericResourceDto"}},"additionalProperties":false},"ServiceDto":{"type":"object","properties":{"initialOrder":{"type":"boolean","nullable":true},"orderItemId":{"type":"string","nullable":true},"productVariantId":{"type":"string","nullable":true},"productPlanId":{"type":"string","nullable":true},"type":{"$ref":"#/components/schemas/ServiceType"},"name":{"type":"string","nullable":true},"serviceId":{"type":"string","nullable":true},"serviceGroupId":{"type":"string","nullable":true},"creationDate":{"type":"string","format":"date-time","nullable":true},"quantity":{"type":"integer","format":"int32","nullable":true},"resource":{"$ref":"#/components/schemas/ServiceResourceDto"},"extraInfo":{"$ref":"#/components/schemas/SubscriptionExtraInfoDto"},"totalPrice":{"type":"number","format":"double","nullable":true}},"additionalProperties":false},"ServiceResourceDto":{"type":"object","properties":{"path":{"type":"string","nullable":true}},"additionalProperties":false},"ServiceResponseDto":{"type":"object","properties":{"initialOrder":{"type":"boolean","nullable":true},"orderItemId":{"type":"string","nullable":true},"productVariantId":{"type":"string","nullable":true},"productPlanId":{"type":"string","nullable":true},"type":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"serviceId":{"type":"string","nullable":true},"serviceGroupId":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"creationDate":{"type":"string","format":"date-time","nullable":true},"quantity":{"type":"integer","format":"int32","nullable":true},"totalPrice":{"type":"number","format":"double","nullable":true}},"additionalProperties":false},"ServiceType":{"enum":["Base","Addon"],"type":"string"},"SetPasswordDto":{"type":"object","properties":{"password":{"type":"string","nullable":true}},"additionalProperties":false},"SizeRequirements":{"type":"object","properties":{"cpu":{"type":"integer","format":"int32","nullable":true},"ram":{"type":"integer","format":"int32","nullable":true},"hd":{"type":"integer","format":"int32","nullable":true}},"additionalProperties":false},"SizeRequirementsDto":{"type":"object","properties":{"cpu":{"type":"integer","format":"int32","nullable":true},"ram":{"type":"integer","format":"int32","nullable":true},"hd":{"type":"integer","format":"int32","nullable":true}},"additionalProperties":false},"SourceType":{"enum":["Linux","Windows","APP"],"type":"string"},"StatusResponseDto":{"type":"object","properties":{"state":{"type":"string","nullable":true},"creationDate":{"type":"string","format":"date-time","nullable":true},"disableStatusInfo":{"$ref":"#/components/schemas/DisableStatusInfoResponseDto"},"failureReason":{"type":"string","nullable":true}},"additionalProperties":false},"SubscriptionExtraInfoDto":{"type":"object","properties":{"provisioningProductId":{"type":"string","nullable":true},"provisioningProductName":{"type":"string","nullable":true},"dataCenter":{"type":"string","nullable":true,"description":"For more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."}},"additionalProperties":false},"SubscriptionServicesDto":{"type":"object","properties":{"serviceBasketId":{"type":"string","nullable":true},"subscriptionId":{"type":"string","nullable":true},"billingContainerId":{"type":"string","nullable":true},"serviceGroupId":{"type":"string","nullable":true},"orderId":{"type":"string","nullable":true},"currency":{"type":"string","nullable":true},"totalPrice":{"type":"number","format":"double","nullable":true},"plan":{"$ref":"#/components/schemas/BillingPlanDto"},"services":{"type":"array","items":{"$ref":"#/components/schemas/ServiceDto"}}},"additionalProperties":false},"SubscriptionServicesResponseDto":{"type":"object","properties":{"serviceBasketId":{"type":"string","nullable":true},"subscriptionId":{"type":"string","nullable":true},"billingContainerId":{"type":"string","nullable":true},"serviceGroupId":{"type":"string","nullable":true},"orderId":{"type":"string","nullable":true},"currency":{"type":"string","nullable":true},"totalPrice":{"type":"number","format":"double","nullable":true},"plan":{"$ref":"#/components/schemas/BillingPlanResponseDto"},"services":{"type":"array","items":{"$ref":"#/components/schemas/ServiceResponseDto"}}},"additionalProperties":false},"Template":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"icon":{"type":"string","nullable":true},"minRequirements":{"$ref":"#/components/schemas/SizeRequirements"},"maxRequirements":{"$ref":"#/components/schemas/SizeRequirements"},"defaultRequirements":{"$ref":"#/components/schemas/SizeRequirements"},"enabled":{"type":"boolean","nullable":true},"allowedLocations":{"type":"array","items":{"type":"string"},"nullable":true},"os":{"$ref":"#/components/schemas/OperativeSystem"},"identificationCode":{"type":"string","nullable":true},"userData":{"type":"string","nullable":true},"addons":{"type":"array","items":{"$ref":"#/components/schemas/Addon"},"nullable":true},"sourceType":{"$ref":"#/components/schemas/SourceType"},"createdOn":{"type":"string","format":"date-time","nullable":true},"lastUpdatedOn":{"type":"string","format":"date-time","nullable":true},"isDefault":{"type":"boolean"}},"additionalProperties":false},"TemplateAddonDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"TemplateCreateDto":{"type":"object","properties":{"name":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"icon":{"type":"string","nullable":true},"minRequirements":{"$ref":"#/components/schemas/SizeRequirementsDto"},"maxRequirements":{"$ref":"#/components/schemas/SizeRequirementsDto"},"defaultRequirements":{"$ref":"#/components/schemas/SizeRequirementsDto"},"enabled":{"type":"boolean","nullable":true},"allowedLocations":{"type":"array","items":{"type":"string"},"nullable":true},"os":{"$ref":"#/components/schemas/OperativeSystemDto"},"identificationCode":{"type":"string","nullable":true},"userData":{"type":"string","nullable":true},"addons":{"type":"array","items":{"$ref":"#/components/schemas/TemplateAddonDto"},"nullable":true},"sourceType":{"$ref":"#/components/schemas/SourceType"},"isDefault":{"type":"boolean","nullable":true}},"additionalProperties":false},"TemplateDto":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"icon":{"type":"string","nullable":true},"minRequirements":{"$ref":"#/components/schemas/SizeRequirementsDto"},"maxRequirements":{"$ref":"#/components/schemas/SizeRequirementsDto"},"defaultRequirements":{"$ref":"#/components/schemas/SizeRequirementsDto"},"enabled":{"type":"boolean","nullable":true},"allowedLocations":{"type":"array","items":{"type":"string"},"nullable":true},"os":{"$ref":"#/components/schemas/OperativeSystemDto"},"identificationCode":{"type":"string","nullable":true},"userData":{"type":"string","nullable":true},"addons":{"type":"array","items":{"$ref":"#/components/schemas/TemplateAddonDto"},"nullable":true},"sourceType":{"$ref":"#/components/schemas/SourceType"},"createdOn":{"type":"string","format":"date-time","nullable":true},"lastUpdatedOn":{"type":"string","format":"date-time","nullable":true},"sshEnabled":{"type":"boolean","nullable":true,"readOnly":true},"isDefault":{"type":"boolean"}},"additionalProperties":false},"TemplateListResponseDto":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"self":{"type":"string","nullable":true},"prev":{"type":"string","nullable":true},"next":{"type":"string","nullable":true},"first":{"type":"string","nullable":true},"last":{"type":"string","nullable":true},"values":{"type":"array","items":{"$ref":"#/components/schemas/Template"}}},"additionalProperties":false},"TemplateUpdateDto":{"type":"object","properties":{"name":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"icon":{"type":"string","nullable":true},"minRequirements":{"$ref":"#/components/schemas/SizeRequirementsDto"},"maxRequirements":{"$ref":"#/components/schemas/SizeRequirementsDto"},"defaultRequirements":{"$ref":"#/components/schemas/SizeRequirementsDto"},"enabled":{"type":"boolean","nullable":true},"allowedLocations":{"type":"array","items":{"type":"string"},"nullable":true},"os":{"$ref":"#/components/schemas/OperativeSystemDto"},"identificationCode":{"type":"string","nullable":true},"userData":{"type":"string","nullable":true},"addons":{"type":"array","items":{"$ref":"#/components/schemas/TemplateAddonDto"},"nullable":true},"sourceType":{"$ref":"#/components/schemas/SourceType"},"isDefault":{"type":"boolean","nullable":true}},"additionalProperties":false},"TypologyResponseDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"CallBackType":{"enum":["Validate","Mutate"],"type":"string"},"CallBackUri":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/CallBackType"},"uri":{"type":"string","format":"uri","nullable":true}},"additionalProperties":false},"MetadataDto":{"type":"object","properties":{"name":{"type":"string","description":"Name of the resource"},"location":{"$ref":"#/components/schemas/LocationDto"},"tags":{"type":"array","items":{"type":"string"},"description":"List of tags for the resource","nullable":true}},"additionalProperties":false,"description":"Metadata of the resource"},"MetadataDtoV2":{"type":"object","properties":{"name":{"type":"string","description":"Name of the resource"},"tags":{"type":"array","items":{"type":"string"},"description":"List of tags for the resource","nullable":true}},"additionalProperties":false,"description":"Metadata of the resource"},"PropertiesBaseDto":{"type":"object","properties":{"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/LinkedResourceDto"},"description":"List of linked resources","nullable":true}},"additionalProperties":false},"ProviderConfig":{"type":"object","properties":{"name":{"type":"string","nullable":true},"uri":{"type":"string","nullable":true},"providerResourceConfigs":{"type":"array","items":{"$ref":"#/components/schemas/ProviderResourceConfig"},"nullable":true}},"additionalProperties":false},"ProviderResourceConfig":{"type":"object","properties":{"resource":{"type":"string","nullable":true},"callBackUris":{"type":"array","items":{"$ref":"#/components/schemas/CallBackUri"},"nullable":true}},"additionalProperties":false},"ResourceBaseDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"},"properties":{"$ref":"#/components/schemas/PropertiesBaseDto"}},"additionalProperties":false,"description":"Classe base del full paylod di una risorsa con tipizzazione a object delle custom properties\r\ne delle extra info della tipologia"},"ResourceBaseDtoV2":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDtoV2"},"properties":{"$ref":"#/components/schemas/PropertiesBaseDto"}},"additionalProperties":false,"description":"Classe base del full paylod di una risorsa con tipizzazione a object delle custom properties\r\ne delle extra info della tipologia"}},"securitySchemes":{"Bearer":{"type":"http","description":"Enter the JWT Bearer token.","scheme":"bearer","bearerFormat":"JWT"}}},"security":[{"Bearer":[]}]}