{"openapi":"3.0.1","info":{"title":"Aruba.Container.Api","description":"Aruba.Container.Api HTTP API\n\nDownload the <a href=\"/openapi/container-provider.json\" target=\"_blank\"> OpenAPI file</a>","version":"1.0.0"},"servers":[{"url":"https://api.arubacloud.com"}],"paths":{"/projects/{projectId}/providers/Aruba.Container/kaas/{kaasId}/backups":{"post":{"tags":["Backup"],"summary":"Create backup","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"kaasId","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupInsertDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupInsertDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupInsertDto"}}}},"responses":{"201":{"description":"Created","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"get":{"tags":["Backup"],"summary":"Search backups","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"kaasId","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}},{"name":"projection","in":"query","schema":{"type":"string"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupListResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupListResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupListResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Container/kaas/{kaasId}/backups/{id}":{"put":{"tags":["Backup"],"summary":"Update backup","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"kaasId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupUpdateDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupUpdateDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupUpdateDto"}}}},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"delete":{"tags":["Backup"],"summary":"Delete backup","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"kaasId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"202":{"description":"Accepted"},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"get":{"tags":["Backup"],"summary":"Get Backup","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"kaasId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"ignoreDeletedStatus","in":"query","schema":{"type":"boolean"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupResponseDto"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Container/kaas/{id}/nodePools/{nodePoolId}/nodes/{nodeId}/attach":{"post":{"tags":["Kaas"],"summary":"Attach Volume","parameters":[{"name":"projectId","in":"path","description":"unique identifier of the project CMP","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"unique identifier of the cluster kubernetes","required":true,"schema":{"type":"string"}},{"name":"nodePoolId","in":"path","description":"unique name of the nodepool within the cluaster kubernetes","required":true,"schema":{"type":"string"}},{"name":"nodeId","in":"path","description":"unique indifieri of the node","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"the request to attach a volume","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.AttachVolumeKaasRequestDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.AttachVolumeKaasRequestDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.AttachVolumeKaasRequestDto"}}}},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Container/kaas/{id}/nodePools/{nodePoolId}/nodes/{nodeId}/detach":{"post":{"tags":["Kaas"],"summary":"Detach a volume from a kaas node","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"nodePoolId","in":"path","required":true,"schema":{"type":"string"}},{"name":"nodeId","in":"path","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.DetachVolumeKaasRequestDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.DetachVolumeKaasRequestDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.DetachVolumeKaasRequestDto"}}}},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Container/kaas/{id}/detach":{"post":{"tags":["Kaas"],"summary":"Detach Volume","parameters":[{"name":"projectId","in":"path","description":"Unique identifier of the project CMP","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Unique identifier of the cluster kubernetes","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"the request to detach a volume","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.DetachVolumeKaasRequestDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.DetachVolumeKaasRequestDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.DetachVolumeKaasRequestDto"}}}},"responses":{"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Container/kaas/{id}/nodePools/{nodePoolName}":{"put":{"tags":["Kaas"],"summary":"Update kaas nodepool","parameters":[{"name":"projectId","in":"path","description":"Id progetto CMP","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Id KaaS","required":true,"schema":{"type":"string"}},{"name":"nodePoolName","in":"path","description":"Nome nodepool da aggiornare","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"Payload di aggiornamento parziale","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.NodePoolUpdateDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.NodePoolUpdateDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.NodePoolUpdateDto"}}}},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Container/kaas":{"post":{"tags":["Kaas"],"summary":"Create KaaS","parameters":[{"name":"projectId","in":"path","description":"unique identifier of the project CMP","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"the cluster kubernetes to create","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasInsertDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasInsertDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasInsertDto"}}}},"responses":{"201":{"description":"Created","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"get":{"tags":["Kaas"],"summary":"List KaaS","parameters":[{"name":"projectId","in":"path","description":"unique identifier of the project CMP","required":true,"schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}},{"name":"projection","in":"query","schema":{"type":"string"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasListResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasListResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasListResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Container/kaas/{id}":{"put":{"tags":["Kaas"],"summary":"Update KaaS","parameters":[{"name":"projectId","in":"path","description":"unique identifier of the project CMP","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"unique identifier of the cluster kubernetes","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"the cluster kubernetes to update","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasUpdateDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasUpdateDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasUpdateDto"}}}},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"delete":{"tags":["Kaas"],"summary":"Delete KaaS","parameters":[{"name":"projectId","in":"path","description":"unique identifier of the project CMP","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"unique identifier of the cluster k","required":true,"schema":{"type":"string"}},{"name":"deleteOnCascade","in":"query","description":"if true, delete all the elastic ips used by the cluster kubernetes (es. for load balancers)","schema":{"type":"boolean"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"202":{"description":"Accepted"},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"get":{"tags":["Kaas"],"summary":"Get KaaS","parameters":[{"name":"projectId","in":"path","description":"unique identifier of the project CMP","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"unique identifier of the cluster kubernetes","required":true,"schema":{"type":"string"}},{"name":"ignoreDeletedStatus","in":"query","description":"if the resource exists in status \"Deleted\", returns NotFound according to the value of this flag","schema":{"type":"boolean"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Container/kaas/{id}/download":{"get":{"tags":["Kaas"],"summary":"Download the configuration file of the cluster kubernetes","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"unique identifier of the cluster kubernetes","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Container/registries":{"post":{"tags":["Registry"],"summary":"Create Container Registry","parameters":[{"name":"projectId","in":"path","description":"unique identifier of the project CMP","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"the container registry to create","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryInsertDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryInsertDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryInsertDto"}}}},"responses":{"201":{"description":"Created","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"get":{"tags":["Registry"],"summary":"Search Registries","parameters":[{"name":"projectId","in":"path","description":"unique identifier of the project CMP","required":true,"schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}},{"name":"projection","in":"query","schema":{"type":"string"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"loadHarborVersion","in":"query","description":"","schema":{"type":"boolean"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryListResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryListResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryListResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Container/registries/{id}":{"put":{"tags":["Registry"],"summary":"Update Registry","parameters":[{"name":"projectId","in":"path","description":"unique identifier of the project CMP","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"unique identifier of the registry","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"registry to update","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryUpdateDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryUpdateDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryUpdateDto"}}}},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"get":{"tags":["Registry"],"summary":"Get Registry","parameters":[{"name":"projectId","in":"path","description":"unique identifier of the project CMP","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"unique identifier of the registry","required":true,"schema":{"type":"string"}},{"name":"ignoreDeletedStatus","in":"query","description":"if the resource exists in status \"Deleted\", returns NotFound according to the value of this flag","schema":{"type":"boolean"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"delete":{"tags":["Registry"],"summary":"Delete Registry","parameters":[{"name":"projectId","in":"path","description":"unique identifier of the project CMP","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"unique identifier of the registry","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"202":{"description":"Accepted"},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Container/registries/{id}/resetAdminPassword":{"put":{"tags":["Registry"],"summary":"Update Admin Password Registry","parameters":[{"name":"projectId","in":"path","description":"unique identifier of the project CMP","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"unique identifier of the registry","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"passsword to update","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryUpdatePasswordDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryUpdatePasswordDto"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryUpdatePasswordDto"}}}},"responses":{"200":{"description":"OK"},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}}},"components":{"schemas":{"Aruba.CmpService.ContainerProvider.Api.Controllers.v1.JobType":{"enum":["KaasVersionUpgradeJob","KaasAutomaticVersionUpgradeJob","KaasDisabledPeriodsActionJob","KaasUpdateOperationsTimeoutJob","KaasDataMigrationJob","RegistryPeriodActionJob","BackupDisabledPeriodsActionJob","BackupRetentionDaysActionJob"],"type":"string"},"Aruba.CmpService.ContainerProvider.Dtos.Configuration.VersionKubernetesAvaiableDto":{"type":"object","properties":{"versionsToSell":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Configuration.VersionKubernetesDto"},"nullable":true},"versionToUpdate":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Configuration.VersionKubernetesDto"},"notSupported":{"type":"boolean","nullable":true},"endToForceOfSupport":{"type":"string","format":"date-time","nullable":true},"dateToForceUpgrade":{"type":"string","format":"date-time","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Configuration.VersionKubernetesDto":{"type":"object","properties":{"crowdInName":{"type":"string","nullable":true,"readOnly":true},"crowdInDescription":{"type":"string","description":"Description.","nullable":true,"readOnly":true},"id":{"type":"string"},"version":{"type":"string"},"recommended":{"type":"boolean"},"available":{"type":"boolean"},"typologyId":{"type":"string"},"userCreationBy":{"type":"string","nullable":true},"userUpdateBy":{"type":"string","nullable":true},"creationDate":{"type":"string","format":"date-time"},"updateDate":{"type":"string","format":"date-time"},"startSellDate":{"type":"string","format":"date-time","nullable":true},"endSellDate":{"type":"string","format":"date-time","nullable":true},"endOfSupportDate":{"type":"string","format":"date-time","nullable":true},"noticePeriod":{"type":"integer","format":"int32","nullable":true},"endOfSupportK8sDate":{"type":"string","format":"date-time"},"disabled":{"type":"boolean"},"versionUpgradePriority":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Configuration.VersionUpgradePriority"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Configuration.VersionUpgradePriority":{"enum":["High","Medium","Low"],"type":"string"},"Aruba.CmpService.ContainerProvider.Dtos.Resources.AdminUserDto":{"type":"object","properties":{"username":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.ApiServerAccessProfileDto":{"type":"object","properties":{"authorizedIpRanges":{"type":"array","items":{"type":"string"},"nullable":true},"enablePrivateCluster":{"type":"boolean"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.ApiServerAccessProfileResponseDto":{"type":"object","properties":{"authorizedIpRanges":{"type":"array","items":{"type":"string"},"nullable":true},"enablePrivateCluster":{"type":"boolean"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.AutomaticKaasSecurityGroupResponseDto":{"type":"object","properties":{"name":{"type":"string","nullable":true},"uri":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"category":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.CategoryDto`1[[Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupTypologyExtraInfoDto, Aruba.CmpService.ContainerProvider.Abstractions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"},"location":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.LocationDto"},"project":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProjectDto"},"tags":{"type":"array","items":{"type":"string"},"nullable":true},"identity":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.IdentityDto"},"scope":{"type":"string","nullable":true},"properties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupPropertiesDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupInfoResponseDto":{"type":"object","properties":{"sizeBytes":{"type":"integer","format":"int64","nullable":true},"expiresAt":{"type":"string","format":"date-time","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupInsertDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"},"properties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupInsertPropertiesDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupInsertPropertiesDto":{"type":"object","properties":{"billingPeriod":{"type":"string","nullable":true},"type":{"type":"string","nullable":true},"retentionDays":{"type":"integer","format":"int32","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupInternalDataPrivateResponseDto":{"type":"object","properties":{"phase":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.PhaseDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupInternalDataResponseDto":{"type":"object","properties":{"info":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupInfoResponseDto"},"private":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupInternalDataPrivateResponseDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupListResponseDto":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"self":{"type":"string","nullable":true},"prev":{"type":"string","nullable":true},"next":{"type":"string","nullable":true},"first":{"type":"string","nullable":true},"last":{"type":"string","nullable":true},"values":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupResponseDto"}}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupPropertiesDto":{"type":"object","properties":{"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.LinkedResourceDto"},"nullable":true},"billingPeriod":{"type":"string","nullable":true},"backupType":{"type":"string","nullable":true},"retentionDays":{"type":"integer","format":"int32","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupPropertiesResponseDto":{"type":"object","properties":{"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.LinkedResourceResponseDto"},"nullable":true},"billingPeriod":{"type":"string","nullable":true},"type":{"type":"string","nullable":true},"retentionDays":{"type":"integer","format":"int32","nullable":true},"kaas":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.ResourceResponseDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupResponseDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.MetadataResponseDto"},"status":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.StatusResponseDto"},"properties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupPropertiesResponseDto"},"data":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupInternalDataResponseDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupTypologyExtraInfoDto":{"type":"object","additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupUpdateDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"},"properties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupUpdatePropertiesDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupUpdatePropertiesDto":{"type":"object","properties":{"billingPeriod":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.AttachVolumeDto":{"type":"object","properties":{"uri":{"type":"string","description":"Uri of the volume to attach.","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.AttachVolumeKaasRequestDto":{"type":"object","properties":{"volume":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.AttachVolumeDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.DetachVolumeDto":{"type":"object","properties":{"uri":{"type":"string","description":"URI of the volume to detach.","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.DetachVolumeKaasRequestDto":{"type":"object","properties":{"volume":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.DetachVolumeDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.DisableRequestDto":{"type":"object","properties":{"reason":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Messages.v1.Enums.DisableReason"},"mode":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Messages.v1.Enums.DisableMode"},"note":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.EnableRequestDto":{"type":"object","properties":{"reason":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Messages.v1.Enums.DisableReason"},"mode":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Messages.v1.Enums.DisableMode"},"note":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceDto":{"type":"object","properties":{"uri":{"type":"string","description":"Uri of the resource"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceResponseDto":{"type":"object","properties":{"uri":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.KaasSecurityGroupDto":{"type":"object","properties":{"name":{"type":"string","description":"Name of the security group"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.KubernetesInsertVersionDto":{"type":"object","properties":{"value":{"type":"string","description":"Value of the version. See metadata section of the API documentation for an updated list of admissable values."}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.KubernetesUpdateVersionDto":{"type":"object","properties":{"value":{"type":"string","description":"Value of the version.\r\nIn updating an existing cluster, the upgrade of the version will be handled as soon as the request will be sent \r\nonly if the UpgradeDate is not evaluated"},"upgradeDate":{"type":"string","description":"You can choose to upgrade the kubernetes version of an existing cluster in a scheduled date","format":"date-time","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.KubernetesVersionDto":{"type":"object","properties":{"value":{"type":"string","description":"Value of the version.\r\nIn updating an existing cluster, the upgrade of the version will be handled as soon as the request will be sent \r\nonly if the UpgradeDate is not evaluated.\r\n\r\nSee metadata section of the API documentation for an updated list of admissable values.","nullable":true},"upgradeDate":{"type":"string","description":"You can choose to upgrade the kubernetes version of an existing cluster in a scheduled date","format":"date-time","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.MaintenanceWindowsDto":{"type":"object","properties":{"day":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Enums.DaysOfWeek"},"timeStart":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Models.Time"},"timeEnd":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Models.Time"},"timeZone":{"type":"integer","format":"int32","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.NodeCidrDto":{"type":"object","properties":{"address":{"type":"string","description":"Address in CIDR notation. The IP range must be between 10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16"},"name":{"type":"string","description":"Name of the nodecidr"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.ResourceResponseDto":{"type":"object","properties":{"uri":{"type":"string","nullable":true},"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.StorageDto":{"type":"object","properties":{"maxCumulativeVolumeSize":{"type":"integer","description":"Storage limit for this Kubernetes cluster.\r\nThe sum of the size of all the volumes used by the cluster must be less than this value, if specified.\r\nDefault value is null and no limitation will be applied.","format":"int32","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.StorageResponseDto":{"type":"object","properties":{"maxCumulativeVolumeSize":{"type":"integer","format":"int32","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.DataCenterResponseDto":{"type":"object","properties":{"name":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.InstanceResponseDto":{"type":"object","properties":{"ram":{"type":"string","nullable":true},"price":{"type":"number","format":"double","nullable":true},"cpu":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"diskSizeGb":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"category":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.CategoryDto`1[[Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasTypologyExtraInfo, Aruba.CmpService.ContainerProvider.Abstractions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"},"location":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.LocationDto"},"project":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProjectDto"},"tags":{"type":"array","items":{"type":"string"},"nullable":true},"identity":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.IdentityDto"},"scope":{"type":"string","nullable":true},"properties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasPropertiesDto"},"data":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasInternalDataDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasIdentityDto":{"type":"object","properties":{"clientId":{"type":"string","nullable":true},"clientSecret":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasIdentityResponseDto":{"type":"object","properties":{"clientId":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasInsertDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"},"properties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasInsertPropertiesDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasInsertPropertiesDto":{"type":"object","properties":{"preset":{"type":"boolean","description":"Set this flag to true if you want the vpc and the subnet related to the kaas will be created automatically.\r\nPreset is available for all the kaas unless a vpc has been already created in the same project and location."},"vpc":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceDto"},"subnet":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceDto"},"nodeCidr":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.NodeCidrDto"},"podCidr":{"type":"string","description":"Details of the subnet podcidr","nullable":true},"securityGroup":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.KaasSecurityGroupDto"},"kubernetesVersion":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.KubernetesInsertVersionDto"},"nodePools":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.NodePoolsDto"},"description":"list of the nodepools of the kaas"},"ha":{"type":"boolean","description":"If true, the the cluster will be replicated across 3 zones within the region selected.\r\nPlease note that the Control Panel in HA cannot be disabled once the cluster has been created.","nullable":true},"storage":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.StorageDto"},"billingPlan":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.BillingPlanDto"},"identity":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasIdentityDto"},"autoscalerProfile":{"nullable":true},"apiServerAccessProfile":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.ApiServerAccessProfileDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasInternalDataDto":{"type":"object","properties":{"private":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasInternalDataPrivateDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasInternalDataPrivateDto":{"type":"object","properties":{"phase":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.PhaseDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasListResponseDto":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"self":{"type":"string","nullable":true},"prev":{"type":"string","nullable":true},"next":{"type":"string","nullable":true},"first":{"type":"string","nullable":true},"last":{"type":"string","nullable":true},"values":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasResponseDto"}}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasPropertiesDto":{"type":"object","properties":{"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.LinkedResourceDto"},"nullable":true},"preset":{"type":"boolean","description":"Set this flag to true if you want the vpc and the subnet related to the kaas will be created automatically.\r\nPreset is available for all the kaas unless a vpc has been already created in the same project and location."},"vpc":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceDto"},"subnet":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceDto"},"nodeCidr":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.NodeCidrDto"},"podCidr":{"type":"string","description":"Details of the subnet podcidr","nullable":true},"securityGroup":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.KaasSecurityGroupDto"},"kubernetesVersion":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.KubernetesVersionDto"},"nodePools":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.NodePoolsDto"},"description":"list of the nodepools of the kaas","nullable":true},"ha":{"type":"boolean","description":"If true, the the cluster will be replicated across 3 zones within the region selected.\r\nPlease note that the Control Panel in HA cannot be disabled once the cluster has been created.","nullable":true},"storage":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.StorageDto"},"billingPlan":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.BillingPlanDto"},"identity":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasIdentityDto"},"autoscalerProfile":{"nullable":true},"apiServerAccessProfile":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.ApiServerAccessProfileDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasPropertiesResponseDto":{"type":"object","properties":{"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.LinkedResourceResponseDto"},"nullable":true},"preset":{"type":"boolean"},"vpc":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceResponseDto"},"subnet":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceResponseDto"},"kubernetesVersion":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KubernetesVersionKaasResponseDto"},"nodePools":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.NodePoolsResponseDto"},"nullable":true},"podcidr":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.PodCidrResponseDto"},"nodecidr":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.NodeCidrResponseDto"},"securityGroup":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.AutomaticKaasSecurityGroupResponseDto"},"ha":{"type":"boolean","nullable":true},"storage":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.StorageResponseDto"},"billingPlan":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.BillingPlanResponseDto"},"managementIp":{"type":"string","nullable":true},"openstackProject":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Models.OpenstackProject"},"identity":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasIdentityResponseDto"},"apiServerAccessProfile":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.ApiServerAccessProfileResponseDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasResponseDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.MetadataResponseDto"},"status":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.StatusResponseDto"},"properties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasPropertiesResponseDto"},"data":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasInternalDataDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasTypologyConfiguration":{"type":"object","properties":{"maxNodePool":{"type":"integer","format":"int32","nullable":true},"minNodePool":{"type":"integer","format":"int32","nullable":true},"maxNode":{"type":"integer","format":"int32","nullable":true},"minNode":{"type":"integer","format":"int32","nullable":true},"minClusterBlockStorageSize":{"type":"integer","format":"int32","nullable":true},"maxClusterBlockStorageSize":{"type":"integer","format":"int32","nullable":true},"maxWhitelistCount":{"type":"integer","format":"int32","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasTypologyExtraInfo":{"type":"object","properties":{"extraInfoProperties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasTypologyConfiguration"},"maxNodePool":{"type":"integer","format":"int32","nullable":true,"readOnly":true},"minNodePool":{"type":"integer","format":"int32","nullable":true,"readOnly":true},"maxNode":{"type":"integer","format":"int32","nullable":true,"readOnly":true},"minNode":{"type":"integer","format":"int32","nullable":true,"readOnly":true},"minClusterBlockStorageSize":{"type":"integer","format":"int32","nullable":true,"readOnly":true},"maxClusterBlockStorageSize":{"type":"integer","format":"int32","nullable":true,"readOnly":true},"maxWhitelistCount":{"type":"integer","format":"int32","nullable":true,"readOnly":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasUpdateDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"},"properties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasUpdatePropertiesDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasUpdatePropertiesDto":{"type":"object","properties":{"kubernetesVersion":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.KubernetesUpdateVersionDto"},"nodePools":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.UpdateNodePoolsDto"},"description":"list of the nodepools of the kaas"},"ha":{"type":"boolean","description":"If true, the the cluster will be replicated across 3 zones within the region selected.\r\nPlease note that the Control Panel in HA cannot be disabled once the cluster has been created.","nullable":true},"storage":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.StorageDto"},"billingPlan":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.BillingPlanDto"},"apiServerAccessProfile":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.ApiServerAccessProfileDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.KubernetesVersionKaasResponseDto":{"type":"object","properties":{"value":{"type":"string","nullable":true},"endOfSupportDate":{"type":"string","format":"date-time","nullable":true},"sellStartDate":{"type":"string","format":"date-time","nullable":true},"sellEndDate":{"type":"string","format":"date-time","nullable":true},"recommended":{"type":"boolean"},"upgradeTo":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.UpgradeToResponseDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.NodeCidrResponseDto":{"type":"object","properties":{"address":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"uri":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.NodePoolLocationDto":{"type":"object","properties":{"value":{"type":"string","description":"Value of the location.","nullable":true},"zone":{"type":"string","description":"Zone (datacenter) of the location.","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.NodePoolMetadataDto":{"type":"object","properties":{"name":{"type":"string","description":"Friendly name of the node pool.","nullable":true},"location":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.NodePoolLocationDto"},"annotations":{"type":"object","additionalProperties":{"type":"string"},"description":"Annotations for the node pool.","nullable":true}},"additionalProperties":false,"description":"Metadata section for a node pool update."},"Aruba.CmpService.ContainerProvider.Dtos.Resources.NodePoolPropertiesDto":{"type":"object","properties":{"instance":{"type":"string","description":"Configuration name of the nodes. See metadata section of the API documentation for an updated list of admissable values.","nullable":true},"nodes":{"type":"integer","description":"Desired number of nodes","format":"int32","nullable":true},"autoscaling":{"type":"boolean","description":"Indicates if autoscaling is enabled for the node pool.","nullable":true},"minNode":{"type":"integer","description":"Minimum number of nodes for the node pool when autoscaling is enabled.","format":"int32","nullable":true},"maxNode":{"type":"integer","description":"Maximum number of nodes for the node pool when autoscaling is enabled.","format":"int32","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.NodePoolUpdateDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"},"properties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.NodePoolPropertiesDto"}},"additionalProperties":false,"description":"DTO used to update a Node Pool resource. Contains optional metadata and properties sections."},"Aruba.CmpService.ContainerProvider.Dtos.Resources.NodePoolsDto":{"type":"object","properties":{"name":{"type":"string","description":"Nodepool name"},"nodes":{"type":"integer","description":"Number of nodes","format":"int32"},"instance":{"type":"string","description":"Configuration name of the nodes. See metadata section of the API documentation for an updated list of admissable values."},"dataCenter":{"type":"string","description":"Datacenter in which the nodes of the pool will be located. See metadata section of the API documentation for an updated list of admissable values.\n\nFor more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."},"minCount":{"type":"integer","description":"Min number of nodes for the node pool when autoscaling is enabled","format":"int32","nullable":true},"maxCount":{"type":"integer","description":"Max number of nodes for the node pool when autoscaling is enabled","format":"int32","nullable":true},"autoscaling":{"type":"boolean","description":"Indicate if autoscaling is enabled for the node pool"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.NodePoolsResponseDto":{"type":"object","properties":{"name":{"type":"string","nullable":true},"nodes":{"type":"integer","format":"int32","nullable":true},"autoscaling":{"type":"boolean"},"creationDate":{"type":"string","format":"date-time","nullable":true},"instance":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.InstanceResponseDto"},"dataCenter":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.DataCenterResponseDto","description":"For more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."},"minCount":{"type":"integer","format":"int32","nullable":true},"maxCount":{"type":"integer","format":"int32","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.PhaseDto":{"type":"object","properties":{"name":{"type":"string","nullable":true},"startDate":{"type":"string","format":"date-time","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.PodCidrResponseDto":{"type":"object","properties":{"address":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"category":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.CategoryDto`1[[Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryTypologyExtraInfoDto, Aruba.CmpService.ContainerProvider.Abstractions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"},"location":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.LocationDto"},"project":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProjectDto"},"tags":{"type":"array","items":{"type":"string"},"nullable":true},"identity":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.IdentityDto"},"scope":{"type":"string","nullable":true},"properties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryPropertiesDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryInfoDto":{"type":"object","properties":{"version":{"type":"string","nullable":true},"privateBaseUrl":{"type":"string","nullable":true},"publicBaseUrl":{"type":"string","nullable":true},"fqdn":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryInsertDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"},"properties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryInsertPropertiesDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryInsertPropertiesDto":{"type":"object","properties":{"preset":{"type":"boolean","description":"Set this flag to true if you want the vpc and the subnet related to the registry will be created automatically.\r\nPreset is available for all the registries unless a vpc has been already created in the same project and location."},"publicIp":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceDto"},"subnet":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceDto"},"securityGroup":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceDto"},"blockStorage":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceDto"},"billingPlan":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.BillingPlanDto"},"adminUser":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.AdminUserDto"},"size":{"type":"string","description":"The number of concurrent connections required by user","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryInternalDataDto":{"type":"object","properties":{"private":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryInternalDataPrivateDto"},"info":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryInfoDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryInternalDataPrivateDto":{"type":"object","properties":{"passwordSet":{"type":"boolean"},"adminPasswordLastSetDate":{"type":"string","format":"date-time","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryListResponseDto":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"self":{"type":"string","nullable":true},"prev":{"type":"string","nullable":true},"next":{"type":"string","nullable":true},"first":{"type":"string","nullable":true},"last":{"type":"string","nullable":true},"values":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryResponseDto"}}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryPropertiesDto":{"type":"object","properties":{"preset":{"type":"boolean","description":"Set this flag to true if you want the vpc and the subnet related to the registry will be created automatically.\r\nPreset is available for all the registries unless a vpc has been already created in the same project and location."},"publicIp":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceDto"},"subnet":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceDto"},"securityGroup":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceDto"},"blockStorage":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceDto"},"vpc":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceDto"},"billingPlan":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.BillingPlanDto"},"adminUser":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.AdminUserDto"},"size":{"type":"string","description":"The id of registry size required by user","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryPropertiesResponseDto":{"type":"object","properties":{"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.LinkedResourceResponseDto"},"nullable":true},"preset":{"type":"boolean"},"publicIp":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceDto"},"vpc":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceDto"},"subnet":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceDto"},"securityGroup":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceDto"},"blockStorage":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceDto"},"billingPlan":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.BillingPlanDto"},"adminUser":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.AdminUserDto"},"size":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryResponseDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.MetadataResponseDto"},"status":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.Response.StatusResponseDto"},"properties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryPropertiesResponseDto"},"data":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryInternalDataDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryTypologyExtraInfoDto":{"type":"object","additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryUpdateDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"},"properties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryUpdatePropertiesDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryUpdatePasswordDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryUpdatePropertiesDto":{"type":"object","properties":{"billingPlan":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.BillingPlanDto"},"publicIp":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Dtos.Resources.Data.GenericResourceDto"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.UpdateNodePoolsDto":{"type":"object","properties":{"name":{"type":"string","description":"Nodepool name"},"nodes":{"type":"integer","description":"Number of nodes","format":"int32"},"instance":{"type":"string","description":"Configuration name of the nodes. See metadata section of the API documentation for an updated list of admissable values."},"dataCenter":{"type":"string","description":"Datacenter in which the nodes of the pool will be located. See metadata section of the API documentation for an updated list of admissable values.\n\nFor more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."},"minCount":{"type":"integer","description":"Min number of nodes for the node pool when autoscaling is enabled","format":"int32","nullable":true},"maxCount":{"type":"integer","description":"Max number of nodes for the node pool when autoscaling is enabled","format":"int32","nullable":true},"autoscaling":{"type":"boolean","description":"Indicate if autoscaling is enabled for the node pool"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Dtos.Resources.UpgradeToResponseDto":{"type":"object","properties":{"value":{"type":"string","nullable":true},"scheduledAt":{"type":"string","format":"date-time","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Enums.DaysOfWeek":{"enum":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","AllDays"],"type":"string"},"Aruba.CmpService.ContainerProvider.Enums.OperationResult":{"enum":["Ok","Ko"],"type":"string"},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Data.UpdateOperations.NodePoolParams":{"type":"object","properties":{"name":{"type":"string","nullable":true},"replicas":{"type":"integer","description":"Replica count as provided by Infrastructure.","format":"int32","nullable":true}},"additionalProperties":false,"description":"Shared properties model for node pool events. Comes from Infrastructure payload:\r\n{ \"name\": \"nodepoolname\", \"replicas\": \"3\" }"},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.CheckKaasStatusRequest":{"type":"object","properties":{"deploymentId":{"type":"string","nullable":true}},"additionalProperties":false,"description":"Provisioning Saga-Update: The CheckKaasStatusRequest event is sent whenever an update event is received."},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.CheckoutDetails":{"type":"object","properties":{"customerId":{"type":"string","nullable":true},"identityId":{"type":"string","nullable":true},"customer":{"type":"string","nullable":true},"orderCustomerData":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.OrderCustomerDatum"},"nullable":true},"orderId":{"type":"string"},"orderItemId":{"type":"string"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.DetachVolumeRequest":{"type":"object","properties":{"userId":{"type":"string","nullable":true},"kaasId":{"type":"string","nullable":true},"nodeId":{"type":"string","nullable":true},"requestId":{"type":"string","nullable":true},"projectId":{"type":"string","nullable":true},"volumeId":{"type":"string","nullable":true},"retryCounter":{"type":"integer","format":"int32"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.DisableConnectionsPlatformRequest":{"type":"object","properties":{"userId":{"type":"string","nullable":true},"registryId":{"type":"string","nullable":true},"key":{"type":"string","readOnly":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.ECommerceProvisioningMessage":{"type":"object","properties":{"requestType":{"type":"string"},"service":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Service"},"id":{"type":"string"},"userId":{"type":"string","nullable":true,"readOnly":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.EnableConnectionsPlatformRequest":{"type":"object","properties":{"userId":{"type":"string","nullable":true},"registryId":{"type":"string","nullable":true},"key":{"type":"string","readOnly":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.KaasShutdownRequest":{"type":"object","properties":{"kaasId":{"type":"string","nullable":true},"retryCounter":{"type":"integer","format":"int32"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.KaasUpdateSaga.EndKaasUpdateFlowRequest":{"type":"object","properties":{"userId":{"type":"string","nullable":true},"kaasId":{"type":"string","nullable":true},"sagaId":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.KaasUpdateSaga.KaasPlatformUpdateOperationCompleted":{"type":"object","properties":{"userId":{"type":"string","nullable":true},"kaasId":{"type":"string","nullable":true},"sagaId":{"type":"string","nullable":true},"operationType":{"type":"string","nullable":true},"operationResult":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Enums.OperationResult"},"params":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Data.UpdateOperations.NodePoolParams"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.KaasUpdateSaga.OrchestrateKaasUpdateRequest":{"type":"object","properties":{"userId":{"type":"string","nullable":true},"kaasId":{"type":"string","nullable":true},"sagaId":{"type":"string","nullable":true},"operationResult":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.Enums.OperationResult"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.KaasUpdateSaga.StartKaasUpdateFlowRequest":{"type":"object","properties":{"userId":{"type":"string","nullable":true},"kaasId":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.KaasUpdateSaga.StartKaasUpdateOperationRequest":{"type":"object","properties":{"userId":{"type":"string","nullable":true},"kaasId":{"type":"string","nullable":true},"sagaId":{"type":"string","nullable":true},"operationId":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.OrchestrateKaasDeleteRequest":{"type":"object","properties":{"userId":{"type":"string","nullable":true},"kaasId":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.OrderCustomerDatum":{"type":"object","properties":{"xternalReferenceId":{"type":"string","nullable":true},"externalReferenceType":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.InvolvedObject":{"type":"object","properties":{"apiVersion":{"type":"string","nullable":true},"kind":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"namespace":{"type":"string","nullable":true},"uid":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.KaasNodeAdded":{"type":"object","properties":{"type":{"type":"string","nullable":true},"reason":{"type":"string","nullable":true},"deploymentId":{"type":"string","nullable":true},"message":{"type":"string","nullable":true},"source":{"type":"string","nullable":true},"involvedObject":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.InvolvedObject"},"osResourceId":{"type":"string","nullable":true},"properties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.Properties"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.KaasNodePoolDeleted":{"type":"object","properties":{"type":{"type":"string","nullable":true},"reason":{"type":"string","nullable":true},"deploymentId":{"type":"string","nullable":true},"message":{"type":"string","nullable":true},"source":{"type":"string","nullable":true},"involvedObject":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.InvolvedObject"},"osResourceId":{"type":"string","nullable":true},"properties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.NodePoolEventProperties"}},"additionalProperties":false,"description":"Emitted when all nodes in a node pool have been removed.\r\nHeader ce_type: \"Kaas.NodePoolDeleted\"\r\nBody Reason: \"NodePoolDeleted\""},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.KaasNodePoolUpdated":{"type":"object","properties":{"type":{"type":"string","nullable":true},"reason":{"type":"string","nullable":true},"deploymentId":{"type":"string","nullable":true},"message":{"type":"string","nullable":true},"source":{"type":"string","nullable":true},"involvedObject":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.InvolvedObject"},"osResourceId":{"type":"string","nullable":true},"properties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.NodePoolEventProperties"}},"additionalProperties":false,"description":"Emitted when a node pool is created or its replica count changes\r\n(scale up / scale down).\r\nHeader ce_type: \"Kaas.NodePoolUpdated\"\r\nBody Reason: \"NodePoolUpdated\""},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.KaasNodeRemoved":{"type":"object","properties":{"type":{"type":"string","nullable":true},"reason":{"type":"string","nullable":true},"deploymentId":{"type":"string","nullable":true},"message":{"type":"string","nullable":true},"source":{"type":"string","nullable":true},"involvedObject":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.InvolvedObject"},"osResourceId":{"type":"string","nullable":true},"properties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.Properties"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.KaasPlatformActive":{"type":"object","properties":{"type":{"type":"string","nullable":true},"reason":{"type":"string","nullable":true},"deploymentId":{"type":"string","nullable":true},"message":{"type":"string","nullable":true},"source":{"type":"string","nullable":true},"involvedObject":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.InvolvedObject"},"osResourceId":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.KaasPlatformCreated":{"type":"object","properties":{"type":{"type":"string","nullable":true},"reason":{"type":"string","nullable":true},"deploymentId":{"type":"string","nullable":true},"message":{"type":"string","nullable":true},"source":{"type":"string","nullable":true},"involvedObject":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.InvolvedObject"},"osResourceId":{"type":"string","nullable":true},"properties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.PropertiesKaasPlatformCreated"}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.KaasPlatformDeleted":{"type":"object","properties":{"type":{"type":"string","nullable":true},"reason":{"type":"string","nullable":true},"deploymentId":{"type":"string","nullable":true},"message":{"type":"string","nullable":true},"source":{"type":"string","nullable":true},"involvedObject":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.InvolvedObject"},"osResourceId":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.KaasPlatformDisabled":{"type":"object","properties":{"type":{"type":"string","nullable":true},"reason":{"type":"string","nullable":true},"deploymentId":{"type":"string","nullable":true},"message":{"type":"string","nullable":true},"source":{"type":"string","nullable":true},"involvedObject":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.InvolvedObject"},"osResourceId":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.KaasPlatformShutdown":{"type":"object","properties":{"type":{"type":"string","nullable":true},"reason":{"type":"string","nullable":true},"deploymentId":{"type":"string","nullable":true},"message":{"type":"string","nullable":true},"source":{"type":"string","nullable":true},"involvedObject":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.InvolvedObject"},"osResourceId":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.NodePoolEventProperties":{"type":"object","properties":{"name":{"type":"string","nullable":true},"replicas":{"type":"integer","description":"Replica count as provided by Infrastructure.","format":"int32","nullable":true}},"additionalProperties":false,"description":"Shared properties model for node pool events. Matches Infrastructure payload:\r\n{ \"name\": \"nodepoolname\", \"replicas\": \"3\" }"},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.Properties":{"type":"object","properties":{"name":{"type":"string","nullable":true},"kind":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.PropertiesKaasPlatformCreated":{"type":"object","properties":{"ip":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.RegistryPlatformEventProperties":{"type":"object","properties":{"task_id":{"type":"string","nullable":true},"event_type":{"type":"string","nullable":true},"event_operation":{"type":"string","nullable":true},"registry_name":{"type":"string","nullable":true},"registry_openstack_id":{"type":"string","nullable":true},"registry_status":{"type":"string","nullable":true},"detail":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.RegistryPlatformOperationCompleted":{"type":"object","properties":{"type":{"type":"string","nullable":true},"reason":{"type":"string","nullable":true},"deploymentId":{"type":"string","nullable":true},"message":{"type":"string","nullable":true},"source":{"type":"string","nullable":true},"properties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.RegistryPlatformEventProperties"},"userId":{"type":"string","nullable":true,"readOnly":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.RegistryPlatformOperationFailed":{"type":"object","properties":{"type":{"type":"string","nullable":true},"reason":{"type":"string","nullable":true},"deploymentId":{"type":"string","nullable":true},"message":{"type":"string","nullable":true},"source":{"type":"string","nullable":true},"properties":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.RegistryPlatformEventProperties"},"userId":{"type":"string","nullable":true,"readOnly":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.RestoreKaasPlatformFailed":{"type":"object","properties":{"type":{"type":"string","nullable":true},"reason":{"type":"string","nullable":true},"deploymentId":{"type":"string","nullable":true},"message":{"type":"string","nullable":true},"source":{"type":"string","nullable":true},"involvedObject":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.InvolvedObject"},"osResourceId":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.RestoreKaasPlatformPartiallyFailed":{"type":"object","properties":{"type":{"type":"string","nullable":true},"reason":{"type":"string","nullable":true},"deploymentId":{"type":"string","nullable":true},"message":{"type":"string","nullable":true},"source":{"type":"string","nullable":true},"involvedObject":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Platform.InvolvedObject"},"osResourceId":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.PowerOffPlatformRequest":{"type":"object","properties":{"userId":{"type":"string","nullable":true},"registryId":{"type":"string","nullable":true},"key":{"type":"string","readOnly":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.PowerOnPlatformRequest":{"type":"object","properties":{"userId":{"type":"string","nullable":true},"registryId":{"type":"string","nullable":true},"key":{"type":"string","readOnly":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.RegistryShutdownRequest":{"type":"object","properties":{"registryId":{"type":"string","nullable":true},"retryCounter":{"type":"integer","format":"int32"},"userId":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Service":{"type":"object","properties":{"id":{"type":"string"},"prefix":{"type":"string","nullable":true},"serviceGroupId":{"type":"string"},"resourceId":{"type":"string","nullable":true},"billingContainerId":{"type":"string","nullable":true},"subscriptionId":{"type":"string","nullable":true},"productVariantId":{"type":"string","nullable":true},"productPlanId":{"type":"string","nullable":true},"provisioningProductId":{"type":"integer","format":"int32","nullable":true},"provisioningProductName":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"attributes":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.ServiceAttribute"},"nullable":true},"checkoutDetails":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.CheckoutDetails"},"addons":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.Service"},"nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.MessageBus.v1.Messages.ServiceAttribute":{"type":"object","properties":{"name":{"type":"string","nullable":true},"value":{"nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Models.KubernetesVersion":{"type":"object","properties":{"id":{"type":"string","nullable":true},"value":{"type":"string","nullable":true},"recommended":{"type":"boolean"},"available":{"type":"boolean"},"startSellDate":{"type":"string","format":"date-time","nullable":true},"endSellDate":{"type":"string","format":"date-time","nullable":true},"endOfSupportDate":{"type":"string","format":"date-time","nullable":true},"endOfSupportK8sDate":{"type":"string","format":"date-time","nullable":true},"createdBy":{"type":"string","nullable":true},"creationDate":{"type":"string","format":"date-time","nullable":true},"updatedBy":{"type":"string","nullable":true},"updateDate":{"type":"string","format":"date-time","nullable":true}},"additionalProperties":false,"description":"KubernetesVersion"},"Aruba.CmpService.ContainerProvider.Models.OpenstackProject":{"type":"object","properties":{"id":{"type":"string","nullable":true}},"additionalProperties":false,"description":"OpenstackProject"},"Aruba.CmpService.ContainerProvider.Models.PanelSetting":{"type":"object","properties":{"value":{"type":"integer","format":"int32"}},"additionalProperties":false,"description":"PanelSetting"},"Aruba.CmpService.ContainerProvider.Models.RegistrySize":{"type":"object","properties":{"id":{"type":"string","nullable":true},"key":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"cpu":{"type":"string","nullable":true},"connections":{"type":"string","nullable":true},"ram":{"type":"string","nullable":true},"flavor":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ContainerProvider.Models.Time":{"type":"object","properties":{"hours":{"type":"integer","format":"int32","nullable":true},"minutes":{"type":"integer","format":"int32","nullable":true},"seconds":{"type":"integer","format":"int32","nullable":true}},"additionalProperties":false,"description":"Time"},"Aruba.CmpService.ContainerProvider.Models.VersionDto":{"required":["available","endOfSupportK8sDate","recommended","value"],"type":"object","properties":{"value":{"minLength":1,"type":"string"},"recommended":{"type":"boolean"},"available":{"type":"boolean"},"endOfSupportK8sDate":{"type":"string","format":"date-time"}},"additionalProperties":false,"description":"VersionDto"},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.AddonDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"productName":{"type":"string","nullable":true},"attributes":{"type":"object","additionalProperties":{"type":"string"}},"price":{"type":"number","format":"double","nullable":true},"plans":{"type":"array","items":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.PricingPlanDto"},"nullable":true},"extraInfo":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProductExtraInfoDto"}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.BillingPlanDto":{"type":"object","properties":{"billingPeriod":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.CategoryDto`1[[Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupTypologyExtraInfoDto, Aruba.CmpService.ContainerProvider.Abstractions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"provider":{"type":"string","nullable":true},"typology":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.TypologyDto`1[[Aruba.CmpService.ContainerProvider.Dtos.Resources.BackupTypologyExtraInfoDto, Aruba.CmpService.ContainerProvider.Abstractions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.CategoryDto`1[[Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasTypologyExtraInfo, Aruba.CmpService.ContainerProvider.Abstractions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"provider":{"type":"string","nullable":true},"typology":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.TypologyDto`1[[Aruba.CmpService.ContainerProvider.Dtos.Resources.KaasTypologyExtraInfo, Aruba.CmpService.ContainerProvider.Abstractions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.CategoryDto`1[[Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryTypologyExtraInfoDto, Aruba.CmpService.ContainerProvider.Abstractions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"provider":{"type":"string","nullable":true},"typology":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.TypologyDto`1[[Aruba.CmpService.ContainerProvider.Dtos.Resources.RegistryTypologyExtraInfoDto, Aruba.CmpService.ContainerProvider.Abstractions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]"}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.DataCenterDto":{"type":"object","properties":{"code":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"allowedServices":{"type":"array","items":{"type":"string"}}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.EcommerceDto":{"type":"object","properties":{"subscriptionServices":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.SubscriptionServicesDto"},"productCatalog":{"$ref":"#/components/schemas/Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.ProductCatalogDto"},"project":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.IdentityDto":{"type":"object","properties":{"userId":{"type":"string","nullable":true},"username":{"type":"string","nullable":true},"account":{"type":"string","nullable":true},"tenant":{"type":"string","nullable":true},"company":{"type":"string","nullable":true},"groupMembership":{"type":"array","items":{"type":"string"}},"currency":{"type":"string","nullable":true},"azp":{"type":"string","nullable":true},"ownerId":{"type":"string","nullable":true}},"additionalProperties":false},"Aruba.CmpService.ResourceProvider.Common.Dtos.FullPayload.LinkedResourceDto":{"type":"object","properties":{"uri":{"type":"string"}},"additionalProperties":false},"Aruba.CmpService.ResourceProvide
[...]
