{"openapi":"3.0.1","info":{"title":"Aruba.StorageProvider.Api","description":"Aruba.StorageProvider.Api HTTP API\n\nDownload the <a href=\"/openapi/storage-provider.json\" target=\"_blank\"> OpenAPI file</a>","version":"1.0.0"},"servers":[{"url":"https://api.arubacloud.com"}],"paths":{"/projects/{projectId}/providers/Aruba.Storage/backups/{id}":{"get":{"tags":["Backup"],"summary":"Get Backup","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"includeDeleted","in":"query","schema":{"type":"boolean","default":false}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/BackupResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/BackupResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/BackupResponseDto"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"put":{"tags":["Backup"],"summary":"Update Backup","parameters":[{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/BackupUpdateDto"}]}},"text/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/BackupUpdateDto"}]}},"application/*+json":{"schema":{"allOf":[{"$ref":"#/components/schemas/BackupUpdateDto"}]}}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/BackupResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/BackupResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/BackupResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"delete":{"tags":["Backup"],"summary":"Delete Backup","parameters":[{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/BackupResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/BackupResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/BackupResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Storage/backups":{"get":{"tags":["Backup"],"summary":"List Backups","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}},{"name":"projection","in":"query","schema":{"type":"string"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/BackupListResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/BackupListResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/BackupListResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"post":{"tags":["Backup"],"summary":"Create Backup","parameters":[{"name":"ce-CreatedBySchedule","in":"header","schema":{"type":"string"}},{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/BackupDto"}]}},"text/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/BackupDto"}]}},"application/*+json":{"schema":{"allOf":[{"$ref":"#/components/schemas/BackupDto"}]}}}},"responses":{"201":{"description":"Created","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/BackupResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/BackupResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/BackupResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Storage/blockStorages":{"post":{"tags":["BlockStorages"],"summary":"Create BlockStorage","parameters":[{"name":"ce-resourceId","in":"header","description":"","schema":{"type":"string"}},{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/VolumeDto"}]}},"text/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/VolumeDto"}]}},"application/*+json":{"schema":{"allOf":[{"$ref":"#/components/schemas/VolumeDto"}]}}}},"responses":{"201":{"description":"Created","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VolumeResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/VolumeResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VolumeResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"get":{"tags":["BlockStorages"],"summary":"List BlockStorage","parameters":[{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}},{"name":"projection","in":"query","schema":{"type":"string"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VolumeListResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/VolumeListResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VolumeListResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Storage/blockStorages/{id}":{"put":{"tags":["BlockStorages"],"summary":"Update BlockStorage","parameters":[{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/VolumeUpdateDto"}]}},"text/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/VolumeUpdateDto"}]}},"application/*+json":{"schema":{"allOf":[{"$ref":"#/components/schemas/VolumeUpdateDto"}]}}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VolumeResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/VolumeResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VolumeResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"delete":{"tags":["BlockStorages"],"summary":"Delete BlockStorage","parameters":[{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VolumeResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/VolumeResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VolumeResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"get":{"tags":["BlockStorages"],"summary":"Get BlockStorage","parameters":[{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"includeDeleted","in":"query","description":"","schema":{"type":"boolean","default":false}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VolumeResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/VolumeResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/VolumeResponseDto"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Storage/backups/{backupId}/restores":{"post":{"tags":["Restore"],"summary":"Create Restore","parameters":[{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"backupId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/RestoreDto"}]}},"text/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/RestoreDto"}]}},"application/*+json":{"schema":{"allOf":[{"$ref":"#/components/schemas/RestoreDto"}]}}}},"responses":{"201":{"description":"Created","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/RestoreResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/RestoreResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/RestoreResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"get":{"tags":["Restore"],"summary":"List Restores","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"backupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}},{"name":"projection","in":"query","schema":{"type":"string"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/RestoreListResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/RestoreListResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/RestoreListResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Storage/backups/{backupId}/restores/{id}":{"put":{"tags":["Restore"],"summary":"Update Restore","parameters":[{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"backupId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/RestoreUpdateDto"}]}},"text/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/RestoreUpdateDto"}]}},"application/*+json":{"schema":{"allOf":[{"$ref":"#/components/schemas/RestoreUpdateDto"}]}}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/RestoreResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/RestoreResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/RestoreResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"delete":{"tags":["Restore"],"summary":"Delete Restore","parameters":[{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"backupId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/RestoreResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/RestoreResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/RestoreResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"get":{"tags":["Restore"],"summary":"Get Restore by Id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"backupId","in":"path","required":true,"schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"schema":{"type":"string"}},{"name":"includeDeleted","in":"query","schema":{"type":"boolean","default":false}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/RestoreResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/RestoreResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/RestoreResponseDto"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Storage/snapshots":{"post":{"tags":["Snapshot"],"summary":"Create Snapshot","parameters":[{"name":"ce-resourceId","in":"header","description":"","schema":{"type":"string"}},{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SnapshotDto"}]}},"text/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SnapshotDto"}]}},"application/*+json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SnapshotDto"}]}}}},"responses":{"201":{"description":"Created","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/SnapshotResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/SnapshotResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"get":{"tags":["Snapshot"],"summary":"List Snapshot","parameters":[{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"filter","in":"query","schema":{"type":"string"}},{"name":"sort","in":"query","schema":{"type":"string"}},{"name":"projection","in":"query","schema":{"type":"string"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/SnapshotListResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotListResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/SnapshotListResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}},"/projects/{projectId}/providers/Aruba.Storage/snapshots/{id}":{"put":{"tags":["Snapshot"],"summary":"Update Snapshot","parameters":[{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"requestBody":{"description":"","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SnapshotUpdateDto"}]}},"text/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SnapshotUpdateDto"}]}},"application/*+json":{"schema":{"allOf":[{"$ref":"#/components/schemas/SnapshotUpdateDto"}]}}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/SnapshotResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/SnapshotResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"delete":{"tags":["Snapshot"],"summary":"Delete Snapshot","parameters":[{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/SnapshotResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/SnapshotResponseDto"}}}},"400":{"description":"Bad Request","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true},"get":{"tags":["Snapshot"],"summary":"Get Snapshot","parameters":[{"name":"projectId","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string"}},{"name":"includeDeleted","in":"query","description":"","schema":{"type":"boolean","default":false}},{"name":"api-version","in":"query","description":"The requested API version","schema":{"type":"string","default":"1"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/SnapshotResponseDto"}},"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotResponseDto"}},"text/json":{"schema":{"$ref":"#/components/schemas/SnapshotResponseDto"}}}},"404":{"description":"Not Found","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"application/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}},"text/json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal Server Error"}},"APIDOC":true}}},"components":{"schemas":{"Addon":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"AddonDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"productName":{"type":"string","nullable":true},"attributes":{"type":"object","additionalProperties":{"type":"string"}},"price":{"type":"number","format":"double","nullable":true},"plans":{"type":"array","items":{"$ref":"#/components/schemas/PricingPlanDto"},"nullable":true},"extraInfo":{"allOf":[{"$ref":"#/components/schemas/ProductExtraInfoDto"}],"nullable":true}},"additionalProperties":false},"BackupChainResponseDto":{"type":"object","properties":{"full":{"type":"string","description":"Uri of the Full backup in the chain.","nullable":true},"previous":{"type":"string","description":"Uri of the previous backup in the chain (null if Full).","nullable":true},"next":{"type":"string","description":"Uri of the next incremental backup in the chain (null if last).","nullable":true}},"additionalProperties":false},"BackupDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"},"properties":{"allOf":[{"$ref":"#/components/schemas/BackupPropertiesDto"}],"nullable":true}},"additionalProperties":false},"BackupInternalDataInfoResponseDto":{"type":"object","properties":{"sizeBytes":{"type":"integer","format":"int64","nullable":true},"expireAt":{"type":"string","format":"date-time","nullable":true},"backupChain":{"allOf":[{"$ref":"#/components/schemas/BackupChainResponseDto"}],"nullable":true}},"additionalProperties":false},"BackupInternalDataResponseDto":{"type":"object","properties":{"infrastructure":{"allOf":[{"$ref":"#/components/schemas/InfrastructureResponseDto"}],"nullable":true},"info":{"allOf":[{"$ref":"#/components/schemas/BackupInternalDataInfoResponseDto"}],"nullable":true}},"additionalProperties":false},"BackupListResponseDto":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"self":{"type":"string","nullable":true},"prev":{"type":"string","nullable":true},"next":{"type":"string","nullable":true},"first":{"type":"string","nullable":true},"last":{"type":"string","nullable":true},"values":{"type":"array","items":{"$ref":"#/components/schemas/BackupResponseDto"}}},"additionalProperties":false},"BackupPlatformSize":{"type":"object","properties":{"type":{"type":"string","nullable":true},"reason":{"type":"string","nullable":true},"deploymentId":{"type":"string","nullable":true},"time":{"type":"integer","format":"int64"},"message":{"type":"string","nullable":true},"source":{"type":"string","nullable":true},"involvedObject":{"allOf":[{"$ref":"#/components/schemas/InvolvedObject"}],"nullable":true},"metadata":{"allOf":[{"$ref":"#/components/schemas/PlatformMetadata"}],"nullable":true},"osResourceId":{"type":"string","nullable":true},"properties":{"allOf":[{"$ref":"#/components/schemas/BackupPlatformSizeProperties"}],"nullable":true}},"additionalProperties":false,"description":"Platform event containing the backup size reported by the platform."},"BackupPlatformSizeProperties":{"type":"object","properties":{"size":{"type":"integer","description":"Backup size in megabytes (mebibytes MiB) reported by the platform.","format":"int32","nullable":true}},"additionalProperties":false},"BackupPropertiesDto":{"type":"object","properties":{"type":{"type":"string","description":"The backup type (Full, Incremental)","nullable":true},"sourceVolume":{"allOf":[{"$ref":"#/components/schemas/GenericResourceDto"}],"description":"The source volume for this backup","nullable":true},"retentionDays":{"type":"integer","description":"Retention days for the backup","format":"int32","nullable":true},"billingPeriod":{"type":"string","description":"Retention days for the backup","nullable":true}},"additionalProperties":false},"BackupPropertiesResponseDto":{"type":"object","properties":{"type":{"type":"string","description":"The backup type (Full, Incremental)","nullable":true},"sourceVolume":{"allOf":[{"$ref":"#/components/schemas/BackupVolumeResponseDto"}],"description":"The source volume for this backup","nullable":true},"retentionDays":{"type":"integer","description":"Retention days for the backup","format":"int32","nullable":true},"billingPeriod":{"type":"string","description":"The backup type (Full, Incremental)","nullable":true}},"additionalProperties":false},"BackupResponseDto":{"type":"object","properties":{"metadata":{"allOf":[{"$ref":"#/components/schemas/MetadataResponseDto"}],"nullable":true},"status":{"allOf":[{"$ref":"#/components/schemas/StatusResponseDto"}],"nullable":true},"properties":{"allOf":[{"$ref":"#/components/schemas/BackupPropertiesResponseDto"}],"nullable":true},"managedBy":{"type":"string","nullable":true},"data":{"allOf":[{"$ref":"#/components/schemas/BackupInternalDataResponseDto"}],"nullable":true}},"additionalProperties":false},"BackupTypologyExtraInfo":{"type":"object","properties":{"minRetentionDays":{"type":"integer","format":"int32","nullable":true},"maxRetentionDays":{"type":"integer","format":"int32","nullable":true},"maxBackupForVolume":{"type":"integer","format":"int32","nullable":true}},"additionalProperties":false},"BackupUpdateDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"},"properties":{"allOf":[{"$ref":"#/components/schemas/BackupUpdatePropertiesDto"}],"nullable":true}},"additionalProperties":false},"BackupUpdatePropertiesDto":{"type":"object","properties":{"billingPeriod":{"type":"string","description":"The billing period for blockStorage. Only Hour is a valid value","nullable":true}},"additionalProperties":false},"BackupVolumeResponseDto":{"type":"object","properties":{"uri":{"type":"string","description":"Uri of the volume","nullable":true},"name":{"type":"string","description":"Current name of the volume","nullable":true},"bootable":{"type":"boolean","nullable":true}},"additionalProperties":false,"description":"Source volume of backup"},"BillingPlanDto":{"type":"object","properties":{"billingPeriod":{"type":"string","nullable":true}},"additionalProperties":false},"BillingPlanResponseDto":{"type":"object","properties":{"billingPeriod":{"type":"string","nullable":true}},"additionalProperties":false},"CategoryDtoBackupTypologyExtraInfo":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"provider":{"type":"string","nullable":true},"typology":{"allOf":[{"$ref":"#/components/schemas/TypologyDtoBackupTypologyExtraInfo"}],"nullable":true}},"additionalProperties":false},"CategoryDtoRestoreTypologyExtraInfo":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"provider":{"type":"string","nullable":true},"typology":{"allOf":[{"$ref":"#/components/schemas/TypologyDtoRestoreTypologyExtraInfo"}],"nullable":true}},"additionalProperties":false},"CategoryDtoSnapshotTypologyExtraInfo":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"provider":{"type":"string","nullable":true},"typology":{"allOf":[{"$ref":"#/components/schemas/TypologyDtoSnapshotTypologyExtraInfo"}],"nullable":true}},"additionalProperties":false},"CategoryDtoVolumeTypologyExtraInfo":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"provider":{"type":"string","nullable":true},"typology":{"allOf":[{"$ref":"#/components/schemas/TypologyDtoVolumeTypologyExtraInfo"}],"nullable":true}},"additionalProperties":false},"CategoryDtoVolumeUpdateTypologyExtraInfo":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"provider":{"type":"string","nullable":true},"typology":{"allOf":[{"$ref":"#/components/schemas/TypologyDtoVolumeUpdateTypologyExtraInfo"}],"nullable":true}},"additionalProperties":false},"CategoryResponseDto":{"type":"object","properties":{"name":{"type":"string","nullable":true},"provider":{"type":"string","nullable":true},"typology":{"allOf":[{"$ref":"#/components/schemas/TypologyResponseDto"}],"nullable":true}},"additionalProperties":false},"ComponentConfigurationDto":{"type":"object","properties":{"typology":{"type":"string","nullable":true},"attributes":{"nullable":true}},"additionalProperties":false},"CompoundProvisioningCompleted":{"type":"object","properties":{"correlationId":{"type":"string","nullable":true},"createdBy":{"type":"string","nullable":true},"deploymentId":{"type":"string","nullable":true},"location":{"type":"string","nullable":true},"projectId":{"type":"string","nullable":true},"typology":{"allOf":[{"$ref":"#/components/schemas/TypologyData"}],"nullable":true},"uri":{"type":"string","nullable":true}},"additionalProperties":false},"CompoundProvisioningFailed":{"type":"object","properties":{"correlationId":{"type":"string","nullable":true},"createdBy":{"type":"string","nullable":true},"deploymentId":{"type":"string","nullable":true},"location":{"type":"string","nullable":true},"projectId":{"type":"string","nullable":true},"typology":{"allOf":[{"$ref":"#/components/schemas/TypologyData"}],"nullable":true},"uri":{"type":"string","nullable":true}},"additionalProperties":false},"ConvertKaasVolumeToStandAloneRequest":{"type":"object","properties":{"userId":{"type":"string","nullable":true},"deploymentId":{"type":"string","nullable":true},"typology":{"type":"string","nullable":true}},"additionalProperties":false},"DataCenterDto":{"type":"object","properties":{"code":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"allowedServices":{"type":"array","items":{"type":"string"}}},"additionalProperties":false},"DeleteInfrastructureResourceRequest":{"type":"object","properties":{"userId":{"type":"string","nullable":true},"deploymentId":{"type":"string","nullable":true},"typologyId":{"type":"string","nullable":true},"key":{"type":"string","readOnly":true}},"additionalProperties":false},"DetachVolumeRequest":{"type":"object","properties":{"kaasId":{"type":"string","nullable":true},"userId":{"type":"string","nullable":true},"nodeId":{"type":"string","nullable":true},"requestId":{"type":"string","nullable":true},"volumeId":{"type":"string","nullable":true},"projectId":{"type":"string","nullable":true},"retryCounter":{"type":"integer","format":"int32"}},"additionalProperties":false},"DisableMode":{"enum":["Manual","Automatic"],"type":"string"},"DisableReason":{"enum":["Spamming","NoCredit","SQLInjection","Phishing","UnauthorizedStolenCredentialsAccess","Virus","CopyrightViolation","OtherAttackTypes"],"type":"string"},"DisableRequestDto":{"type":"object","properties":{"reason":{"allOf":[{"$ref":"#/components/schemas/DisableReason"}]},"mode":{"allOf":[{"$ref":"#/components/schemas/DisableMode"}]},"note":{"type":"string","nullable":true}},"additionalProperties":false},"DisableStatusInfoResponseDto":{"type":"object","properties":{"isDisabled":{"type":"boolean"},"reasons":{"type":"array","items":{"type":"string"}},"previousStatus":{"allOf":[{"$ref":"#/components/schemas/PreviousStatusResponseDto"}],"nullable":true}},"additionalProperties":false},"EcommerceDto":{"type":"object","properties":{"subscriptionServices":{"allOf":[{"$ref":"#/components/schemas/SubscriptionServicesDto"}],"nullable":true},"productCatalog":{"allOf":[{"$ref":"#/components/schemas/ProductCatalogDto"}],"nullable":true},"project":{"type":"string","nullable":true}},"additionalProperties":false},"EcommerceResponseDto":{"type":"object","properties":{"subscriptionServices":{"allOf":[{"$ref":"#/components/schemas/SubscriptionServicesResponseDto"}],"nullable":true}},"additionalProperties":false},"EnableRequestDto":{"type":"object","properties":{"reason":{"allOf":[{"$ref":"#/components/schemas/DisableReason"}]},"mode":{"allOf":[{"$ref":"#/components/schemas/DisableMode"}]},"note":{"type":"string","nullable":true}},"additionalProperties":false},"FullPayload.LinkedResourceDto":{"type":"object","properties":{"uri":{"type":"string"}},"additionalProperties":false},"FullPayload.LocationDto":{"type":"object","properties":{"code":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"value":{"type":"string","nullable":true},"dataCenters":{"type":"array","items":{"$ref":"#/components/schemas/DataCenterDto"}},"unavailable":{"type":"boolean"}},"additionalProperties":false},"FullPayload.ProjectDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"folderId":{"type":"string","nullable":true}},"additionalProperties":false},"GenericResourceDto":{"type":"object","properties":{"uri":{"type":"string","nullable":true}},"additionalProperties":false},"GenericResourceResponseDto":{"type":"object","properties":{"uri":{"type":"string","description":"Uri of the resource","nullable":true}},"additionalProperties":false},"IdentityDto":{"type":"object","properties":{"userId":{"type":"string","nullable":true},"username":{"type":"string","nullable":true},"account":{"type":"string","nullable":true},"tenant":{"type":"string","nullable":true},"company":{"type":"string","nullable":true},"groupMembership":{"type":"array","items":{"type":"string"}},"currency":{"type":"string","nullable":true},"azp":{"type":"string","nullable":true},"ownerId":{"type":"string","nullable":true}},"additionalProperties":false},"InfrastructureResponseDto":{"type":"object","properties":{"type":{"type":"string","nullable":true},"value":{"allOf":[{"$ref":"#/components/schemas/ValueResponseDto"}],"nullable":true}},"additionalProperties":false},"InvolvedObject":{"type":"object","properties":{"apiVersion":{"type":"string","nullable":true},"kind":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"namespace":{"type":"string","nullable":true},"uid":{"type":"string","nullable":true}},"additionalProperties":false},"JobType":{"enum":["BackupDisabledPeriodsActionJob","SnapshotDisabledPeriodsActionJob","VolumeDisabledPeriodsActionJob","BackupRetentionDaysActionJob"],"type":"string"},"LinkedResourceResponseDto":{"type":"object","properties":{"uri":{"type":"string","nullable":true},"strictCorrelation":{"type":"boolean"}},"additionalProperties":false},"ListResponseDtoTemplate":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"self":{"type":"string","nullable":true},"prev":{"type":"string","nullable":true},"next":{"type":"string","nullable":true},"first":{"type":"string","nullable":true},"last":{"type":"string","nullable":true},"values":{"type":"array","items":{"$ref":"#/components/schemas/Template"}}},"additionalProperties":false},"LocationResponseDto":{"type":"object","properties":{"code":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"value":{"type":"string","nullable":true}},"additionalProperties":false},"MetadataDto":{"type":"object","properties":{"name":{"type":"string","description":"Name of the resource"},"location":{"$ref":"#/components/schemas/LocationDto"},"tags":{"type":"array","items":{"type":"string"},"description":"List of tags for the resource","nullable":true}},"additionalProperties":false,"description":"Metadata of the resource"},"MetadataResponseDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"uri":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"location":{"allOf":[{"$ref":"#/components/schemas/LocationResponseDto"}],"nullable":true},"project":{"allOf":[{"$ref":"#/components/schemas/ProjectResponseDto"}],"nullable":true},"tags":{"type":"array","items":{"type":"string"},"nullable":true},"category":{"allOf":[{"$ref":"#/components/schemas/CategoryResponseDto"}],"nullable":true},"creationDate":{"type":"string","format":"date-time","nullable":true},"createdBy":{"type":"string","nullable":true},"ownerId":{"type":"string","nullable":true},"updateDate":{"type":"string","format":"date-time","nullable":true},"updatedBy":{"type":"string","nullable":true},"version":{"type":"string","nullable":true},"createdUser":{"type":"string","nullable":true},"updatedUser":{"type":"string","nullable":true},"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/LinkedResourceResponseDto"},"nullable":true},"managedBy":{"type":"string","nullable":true},"annotations":{"type":"object","additionalProperties":{},"nullable":true}},"additionalProperties":false},"OperativeSystem":{"type":"object","properties":{"type":{"allOf":[{"$ref":"#/components/schemas/OsType"}],"nullable":true},"username":{"type":"string","nullable":true},"family":{"type":"string","nullable":true},"version":{"type":"string","nullable":true}},"additionalProperties":false},"OperativeSystemDto":{"type":"object","properties":{"type":{"allOf":[{"$ref":"#/components/schemas/OsType"}],"nullable":true},"username":{"type":"string","nullable":true},"family":{"type":"string","nullable":true},"version":{"type":"string","nullable":true}},"additionalProperties":false},"OrchestrateVolumeDeleteRequest":{"type":"object","properties":{"userId":{"type":"string","nullable":true},"volumeId":{"type":"string","nullable":true}},"additionalProperties":false},"OsType":{"enum":["Linux","Windows"],"type":"string"},"ParentTypologyDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"PlatformMetadata":{"type":"object","properties":{"creationTimestamp":{"type":"string","format":"date-time"},"name":{"type":"string","nullable":true},"namespace":{"type":"string","nullable":true},"uid":{"type":"string","nullable":true}},"additionalProperties":false},"PreviousStatusResponseDto":{"type":"object","properties":{"state":{"type":"string","nullable":true},"creationDate":{"type":"string","format":"date-time","nullable":true}},"additionalProperties":false},"PricingPlanDto":{"type":"object","properties":{"productPlan":{"allOf":[{"$ref":"#/components/schemas/ProductPlanDto"}],"nullable":true},"productPlanPhases":{"type":"array","items":{"$ref":"#/components/schemas/ProductPlanPhasesDto"}}},"additionalProperties":false},"ProblemDetails":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}},"ProductAttributeDto":{"type":"object","properties":{"name":{"type":"string","nullable":true},"value":{"type":"string","nullable":true}},"additionalProperties":false},"ProductCatalogDto":{"type":"object","properties":{"products":{"type":"array","items":{"$ref":"#/components/schemas/ProductDto"}}},"additionalProperties":false},"ProductDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"variantId":{"type":"string","nullable":true},"variantName":{"type":"string","nullable":true},"categoryName":{"type":"string","nullable":true},"attributes":{"type":"array","items":{"$ref":"#/components/schemas/ProductAttributeDto"},"nullable":true},"plans":{"type":"array","items":{"$ref":"#/components/schemas/PricingPlanDto"},"nullable":true},"addons":{"type":"array","items":{"$ref":"#/components/schemas/AddonDto"}},"extraInfo":{"allOf":[{"$ref":"#/components/schemas/ProductExtraInfoDto"}],"nullable":true}},"additionalProperties":false},"ProductExtraInfoDto":{"type":"object","properties":{"provisioningProductId":{"type":"string","nullable":true},"provisioningProductName":{"type":"string","nullable":true},"trial":{"type":"string","nullable":true},"osType":{"type":"string","nullable":true},"typologyId":{"type":"string","nullable":true}},"additionalProperties":false},"ProductPlanDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"productVariantId":{"type":"string","nullable":true},"displayOrder":{"type":"integer","format":"int32","nullable":true},"attributes":{"type":"object","additionalProperties":{}}},"additionalProperties":false},"ProductPlanPhasesDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"fixedPrice":{"allOf":[{"$ref":"#/components/schemas/ProductPriceDto"}],"nullable":true},"billingPeriod":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"ProductPriceDto":{"type":"object","properties":{"price":{"type":"number","format":"double","nullable":true},"currency":{"type":"string","nullable":true}},"additionalProperties":false},"ProjectResponseDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"folderId":{"type":"string","nullable":true}},"additionalProperties":false},"RelatesToDto":{"type":"object","properties":{"typology":{"type":"string","nullable":true},"uri":{"type":"string","nullable":true}},"additionalProperties":false},"RemoveSnapshotFromVolumeRequest":{"type":"object","properties":{"userId":{"type":"string","nullable":true},"snapshotId":{"type":"string","nullable":true}},"additionalProperties":false},"RestoreDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"},"properties":{"allOf":[{"$ref":"#/components/schemas/RestorePropertiesDto"}],"nullable":true}},"additionalProperties":false},"RestoreListResponseDto":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"self":{"type":"string","nullable":true},"prev":{"type":"string","nullable":true},"next":{"type":"string","nullable":true},"first":{"type":"string","nullable":true},"last":{"type":"string","nullable":true},"values":{"type":"array","items":{"$ref":"#/components/schemas/RestoreResponseDto"}}},"additionalProperties":false},"RestorePropertiesDto":{"type":"object","properties":{"destinationVolume":{"allOf":[{"$ref":"#/components/schemas/GenericResourceDto"}],"description":"The source volume for this restore","nullable":true}},"additionalProperties":false},"RestorePropertiesResponseDto":{"type":"object","properties":{"destinationVolume":{"allOf":[{"$ref":"#/components/schemas/GenericResourceResponseDto"}],"description":"The source volume for this restore","nullable":true}},"additionalProperties":false},"RestoreResponseDto":{"type":"object","properties":{"metadata":{"allOf":[{"$ref":"#/components/schemas/MetadataResponseDto"}],"nullable":true},"status":{"allOf":[{"$ref":"#/components/schemas/StatusResponseDto"}],"nullable":true},"properties":{"allOf":[{"$ref":"#/components/schemas/RestorePropertiesResponseDto"}],"nullable":true}},"additionalProperties":false},"RestoreTypologyExtraInfo":{"type":"object","additionalProperties":false},"RestoreUpdateDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"},"properties":{"allOf":[{"$ref":"#/components/schemas/RestoreUpdatePropertiesDto"}],"nullable":true}},"additionalProperties":false},"RestoreUpdatePropertiesDto":{"type":"object","additionalProperties":false},"ServiceDto":{"type":"object","properties":{"initialOrder":{"type":"boolean","nullable":true},"orderItemId":{"type":"string","nullable":true},"productVariantId":{"type":"string","nullable":true},"productPlanId":{"type":"string","nullable":true},"type":{"allOf":[{"$ref":"#/components/schemas/ServiceType"}]},"name":{"type":"string","nullable":true},"serviceId":{"type":"string","nullable":true},"serviceGroupId":{"type":"string","nullable":true},"creationDate":{"type":"string","format":"date-time","nullable":true},"quantity":{"type":"integer","format":"int32","nullable":true},"resource":{"allOf":[{"$ref":"#/components/schemas/ServiceResourceDto"}],"nullable":true},"extraInfo":{"allOf":[{"$ref":"#/components/schemas/SubscriptionExtraInfoDto"}],"nullable":true},"totalPrice":{"type":"number","format":"double","nullable":true}},"additionalProperties":false},"ServiceResourceDto":{"type":"object","properties":{"path":{"type":"string","nullable":true}},"additionalProperties":false},"ServiceResponseDto":{"type":"object","properties":{"initialOrder":{"type":"boolean","nullable":true},"orderItemId":{"type":"string","nullable":true},"productVariantId":{"type":"string","nullable":true},"productPlanId":{"type":"string","nullable":true},"type":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"serviceId":{"type":"string","nullable":true},"serviceGroupId":{"type":"string","nullable":true},"status":{"type":"string","nullable":true},"creationDate":{"type":"string","format":"date-time","nullable":true},"quantity":{"type":"integer","format":"int32","nullable":true},"totalPrice":{"type":"number","format":"double","nullable":true}},"additionalProperties":false},"ServiceType":{"enum":["Base","Addon"],"type":"string"},"SizeRequirements":{"type":"object","properties":{"cpu":{"type":"integer","format":"int32","nullable":true},"ram":{"type":"integer","format":"int32","nullable":true},"hd":{"type":"integer","format":"int32","nullable":true}},"additionalProperties":false},"SizeRequirementsDto":{"type":"object","properties":{"cpu":{"type":"integer","format":"int32","nullable":true},"ram":{"type":"integer","format":"int32","nullable":true},"hd":{"type":"integer","format":"int32","nullable":true}},"additionalProperties":false},"SnapshotDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"},"properties":{"allOf":[{"$ref":"#/components/schemas/SnapshotPropertiesDto"}],"nullable":true}},"additionalProperties":false},"SnapshotListResponseDto":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"self":{"type":"string","nullable":true},"prev":{"type":"string","nullable":true},"next":{"type":"string","nullable":true},"first":{"type":"string","nullable":true},"last":{"type":"string","nullable":true},"values":{"type":"array","items":{"$ref":"#/components/schemas/SnapshotResponseDto"}}},"additionalProperties":false},"SnapshotPropertiesDto":{"type":"object","properties":{"billingPeriod":{"type":"string","description":"The billing period for blockStorage. Only Hour is a valid value"},"volume":{"allOf":[{"$ref":"#/components/schemas/GenericResourceDto"}],"description":"Existing block storage from which the snapshot will be created"}},"additionalProperties":false},"SnapshotPropertiesResponseDto":{"type":"object","properties":{"sizeGb":{"type":"integer","description":"The blockStoages's size in gigabyte","format":"int32","nullable":true},"billingPeriod":{"type":"string","description":"The billing period for blockStorage. Only Hour is a valid value","nullable":true},"volume":{"allOf":[{"$ref":"#/components/schemas/SnapshotVolumeResponseDto"}],"description":"Original volume the snapshot was created from","nullable":true},"dataCenter":{"type":"string","description":"The datacenter where blockstorage will be created\n\nFor more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>.","nullable":true},"type":{"type":"string","description":"The type of the original volume from which the snapshot was created","nullable":true},"bootable":{"type":"boolean","description":"True if the original volume of the snapshot was a bootable disk"}},"additionalProperties":false},"SnapshotResponseDto":{"type":"object","properties":{"metadata":{"allOf":[{"$ref":"#/components/schemas/MetadataResponseDto"}],"nullable":true},"status":{"allOf":[{"$ref":"#/components/schemas/StatusResponseDto"}],"nullable":true},"properties":{"allOf":[{"$ref":"#/components/schemas/SnapshotPropertiesResponseDto"}],"nullable":true}},"additionalProperties":false},"SnapshotTypologyExtraInfo":{"type":"object","additionalProperties":false},"SnapshotUpdateDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"},"properties":{"allOf":[{"$ref":"#/components/schemas/SnapshotUpdatePropertiesDto"}],"nullable":true}},"additionalProperties":false},"SnapshotUpdatePropertiesDto":{"type":"object","properties":{"billingPeriod":{"type":"string","description":"The billing period for blockStorage. Only Hour is a valid value","nullable":true}},"additionalProperties":false},"SnapshotVolumeResponseDto":{"type":"object","properties":{"uri":{"type":"string","description":"Uri of the volume","nullable":true},"name":{"type":"string","description":"Current name of the volume","nullable":true},"compoundResource":{"allOf":[{"$ref":"#/components/schemas/GenericResourceResponseDto"}],"description":"The resource used by the volume at the time the snapshot was created","nullable":true}},"additionalProperties":false},"SourceType":{"enum":["Linux","Windows","APP"],"type":"string"},"StatusErrorResponseDto":{"type":"object","properties":{"reason":{"type":"string","nullable":true},"message":{"type":"string","nullable":true}},"additionalProperties":false},"StatusResponseDto":{"type":"object","properties":{"state":{"type":"string","nullable":true},"creationDate":{"type":"string","format":"date-time","nullable":true},"disableStatusInfo":{"allOf":[{"$ref":"#/components/schemas/DisableStatusInfoResponseDto"}],"nullable":true},"failureReason":{"type":"string","nullable":true},"error":{"allOf":[{"$ref":"#/components/schemas/StatusErrorResponseDto"}],"nullable":true},"reservedTo":{"type":"string","nullable":true}},"additionalProperties":false},"StoragePropertiesResponseDto":{"type":"object","properties":{"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/LinkedResourceResponseDto"},"nullable":true},"totalSize":{"type":"integer","description":"Maximum size in GB","format":"int32"},"usedSize":{"type":"integer","description":"Used size in GB","format":"int32"},"volumeCount":{"type":"integer","description":"Volume count","format":"int32"},"totalPrice":{"type":"number","description":"TotalPrice","format":"double"},"billingPeriod":{"type":"string","description":"Type of Billing period","nullable":true},"currency":{"type":"string","description":"Currency","nullable":true}},"additionalProperties":false},"StorageResponseDto":{"type":"object","properties":{"metadata":{"allOf":[{"$ref":"#/components/schemas/MetadataResponseDto"}],"nullable":true},"status":{"allOf":[{"$ref":"#/components/schemas/StatusResponseDto"}],"nullable":true},"properties":{"allOf":[{"$ref":"#/components/schemas/StoragePropertiesResponseDto"}],"nullable":true}},"additionalProperties":false},"StorageResponseListDto":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"self":{"type":"string","nullable":true},"prev":{"type":"string","nullable":true},"next":{"type":"string","nullable":true},"first":{"type":"string","nullable":true},"last":{"type":"string","nullable":true},"values":{"type":"array","items":{"$ref":"#/components/schemas/StorageResponseDto"}}},"additionalProperties":false},"SubscriptionExtraInfoDto":{"type":"object","properties":{"provisioningProductId":{"type":"string","nullable":true},"provisioningProductName":{"type":"string","nullable":true},"dataCenter":{"type":"string","nullable":true,"description":"For more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."}},"additionalProperties":false},"SubscriptionServicesDto":{"type":"object","properties":{"serviceBasketId":{"type":"string","nullable":true},"subscriptionId":{"type":"string","nullable":true},"billingContainerId":{"type":"string","nullable":true},"serviceGroupId":{"type":"string","nullable":true},"orderId":{"type":"string","nullable":true},"currency":{"type":"string","nullable":true},"totalPrice":{"type":"number","format":"double","nullable":true},"plan":{"allOf":[{"$ref":"#/components/schemas/BillingPlanDto"}],"nullable":true},"services":{"type":"array","items":{"$ref":"#/components/schemas/ServiceDto"}}},"additionalProperties":false},"SubscriptionServicesResponseDto":{"type":"object","properties":{"serviceBasketId":{"type":"string","nullable":true},"subscriptionId":{"type":"string","nullable":true},"billingContainerId":{"type":"string","nullable":true},"serviceGroupId":{"type":"string","nullable":true},"orderId":{"type":"string","nullable":true},"currency":{"type":"string","nullable":true},"totalPrice":{"type":"number","format":"double","nullable":true},"plan":{"allOf":[{"$ref":"#/components/schemas/BillingPlanResponseDto"}],"nullable":true},"services":{"type":"array","items":{"$ref":"#/components/schemas/ServiceResponseDto"}}},"additionalProperties":false},"Template":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"icon":{"type":"string","nullable":true},"minRequirements":{"allOf":[{"$ref":"#/components/schemas/SizeRequirements"}],"nullable":true},"maxRequirements":{"allOf":[{"$ref":"#/components/schemas/SizeRequirements"}],"nullable":true},"defaultRequirements":{"allOf":[{"$ref":"#/components/schemas/SizeRequirements"}],"nullable":true},"enabled":{"type":"boolean","nullable":true},"allowedLocations":{"type":"array","items":{"type":"string"},"nullable":true},"os":{"allOf":[{"$ref":"#/components/schemas/OperativeSystem"}],"nullable":true},"identificationCode":{"type":"string","nullable":true},"userData":{"type":"string","nullable":true},"addons":{"type":"array","items":{"$ref":"#/components/schemas/Addon"},"nullable":true},"sourceType":{"allOf":[{"$ref":"#/components/schemas/SourceType"}]},"createdOn":{"type":"string","format":"date-time","nullable":true},"lastUpdatedOn":{"type":"string","format":"date-time","nullable":true},"isDefault":{"type":"boolean"}},"additionalProperties":false},"TemplateAddonDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"TemplateCreateDto":{"type":"object","properties":{"name":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"icon":{"type":"string","nullable":true},"minRequirements":{"allOf":[{"$ref":"#/components/schemas/SizeRequirementsDto"}],"nullable":true},"maxRequirements":{"allOf":[{"$ref":"#/components/schemas/SizeRequirementsDto"}],"nullable":true},"defaultRequirements":{"allOf":[{"$ref":"#/components/schemas/SizeRequirementsDto"}],"nullable":true},"enabled":{"type":"boolean","nullable":true},"allowedLocations":{"type":"array","items":{"type":"string"},"nullable":true},"os":{"allOf":[{"$ref":"#/components/schemas/OperativeSystemDto"}],"nullable":true},"identificationCode":{"type":"string","nullable":true},"userData":{"type":"string","nullable":true},"addons":{"type":"array","items":{"$ref":"#/components/schemas/TemplateAddonDto"},"nullable":true},"sourceType":{"allOf":[{"$ref":"#/components/schemas/SourceType"}]},"isDefault":{"type":"boolean","nullable":true}},"additionalProperties":false},"TemplateDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"icon":{"type":"string","nullable":true},"minRequirements":{"allOf":[{"$ref":"#/components/schemas/SizeRequirementsDto"}],"nullable":true},"maxRequirements":{"allOf":[{"$ref":"#/components/schemas/SizeRequirementsDto"}],"nullable":true},"defaultRequirements":{"allOf":[{"$ref":"#/components/schemas/SizeRequirementsDto"}],"nullable":true},"enabled":{"type":"boolean","nullable":true},"allowedLocations":{"type":"array","items":{"type":"string"},"nullable":true},"os":{"allOf":[{"$ref":"#/components/schemas/OperativeSystemDto"}],"nullable":true},"identificationCode":{"type":"string","nullable":true},"userData":{"type":"string","nullable":true},"addons":{"type":"array","items":{"$ref":"#/components/schemas/TemplateAddonDto"},"nullable":true},"sourceType":{"allOf":[{"$ref":"#/components/schemas/SourceType"}],"nullable":true},"createdOn":{"type":"string","format":"date-time","nullable":true},"lastUpdatedOn":{"type":"string","format":"date-time","nullable":true},"sshEnabled":{"type":"boolean","nullable":true,"readOnly":true},"isDefault":{"type":"boolean"}},"additionalProperties":false},"TemplateUpdateDto":{"type":"object","properties":{"name":{"type":"string","nullable":true},"description":{"type":"string","nullable":true},"icon":{"type":"string","nullable":true},"minRequirements":{"allOf":[{"$ref":"#/components/schemas/SizeRequirementsDto"}],"nullable":true},"maxRequirements":{"allOf":[{"$ref":"#/components/schemas/SizeRequirementsDto"}],"nullable":true},"defaultRequirements":{"allOf":[{"$ref":"#/components/schemas/SizeRequirementsDto"}],"nullable":true},"enabled":{"type":"boolean","nullable":true},"allowedLocations":{"type":"array","items":{"type":"string"},"nullable":true},"os":{"allOf":[{"$ref":"#/components/schemas/OperativeSystemDto"}],"nullable":true},"identificationCode":{"type":"string","nullable":true},"userData":{"type":"string","nullable":true},"addons":{"type":"array","items":{"$ref":"#/components/schemas/TemplateAddonDto"},"nullable":true},"sourceType":{"allOf":[{"$ref":"#/components/schemas/SourceType"}]},"isDefault":{"type":"boolean","nullable":true}},"additionalProperties":false},"TypologyData":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"TypologyDtoBackupTypologyExtraInfo":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"controllerName":{"type":"string","nullable":true},"limitResourceAvailableForLocation":{"type":"integer","format":"int32","nullable":true},"extraInfo":{"allOf":[{"$ref":"#/components/schemas/BackupTypologyExtraInfo"}],"nullable":true},"parents":{"type":"array","items":{"$ref":"#/components/schemas/ParentTypologyDto"},"nullable":true},"skipEcommerce":{"type":"boolean"}},"additionalProperties":false},"TypologyDtoRestoreTypologyExtraInfo":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"controllerName":{"type":"string","nullable":true},"limitResourceAvailableForLocation":{"type":"integer","format":"int32","nullable":true},"extraInfo":{"allOf":[{"$ref":"#/components/schemas/RestoreTypologyExtraInfo"}],"nullable":true},"parents":{"type":"array","items":{"$ref":"#/components/schemas/ParentTypologyDto"},"nullable":true},"skipEcommerce":{"type":"boolean"}},"additionalProperties":false},"TypologyDtoSnapshotTypologyExtraInfo":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"controllerName":{"type":"string","nullable":true},"limitResourceAvailableForLocation":{"type":"integer","format":"int32","nullable":true},"extraInfo":{"allOf":[{"$ref":"#/components/schemas/SnapshotTypologyExtraInfo"}],"nullable":true},"parents":{"type":"array","items":{"$ref":"#/components/schemas/ParentTypologyDto"},"nullable":true},"skipEcommerce":{"type":"boolean"}},"additionalProperties":false},"TypologyDtoVolumeTypologyExtraInfo":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"controllerName":{"type":"string","nullable":true},"limitResourceAvailableForLocation":{"type":"integer","format":"int32","nullable":true},"extraInfo":{"allOf":[{"$ref":"#/components/schemas/VolumeTypologyExtraInfo"}],"nullable":true},"parents":{"type":"array","items":{"$ref":"#/components/schemas/ParentTypologyDto"},"nullable":true},"skipEcommerce":{"type":"boolean"}},"additionalProperties":false},"TypologyDtoVolumeUpdateTypologyExtraInfo":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"controllerName":{"type":"string","nullable":true},"limitResourceAvailableForLocation":{"type":"integer","format":"int32","nullable":true},"extraInfo":{"allOf":[{"$ref":"#/components/schemas/VolumeUpdateTypologyExtraInfo"}],"nullable":true},"parents":{"type":"array","items":{"$ref":"#/components/schemas/ParentTypologyDto"},"nullable":true},"skipEcommerce":{"type":"boolean"}},"additionalProperties":false},"TypologyResponseDto":{"type":"object","properties":{"id":{"type":"string","nullable":true},"name":{"type":"string","nullable":true}},"additionalProperties":false},"UserPayload.LocationDto":{"type":"object","properties":{"value":{"type":"string"}},"additionalProperties":false},"UserSnapshotDto":{"type":"object","properties":{"metadata":{"allOf":[{"$ref":"#/components/schemas/MetadataDto"}],"nullable":true},"properties":{"allOf":[{"$ref":"#/components/schemas/SnapshotPropertiesDto"}],"nullable":true}},"additionalProperties":false},"UserVolumeDto":{"type":"object","properties":{"metadata":{"allOf":[{"$ref":"#/components/schemas/MetadataDto"}],"nullable":true},"properties":{"allOf":[{"$ref":"#/components/schemas/UserVolumePropertiesDto"}],"nullable":true}},"additionalProperties":false},"UserVolumePropertiesDto":{"type":"object","properties":{"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/FullPayload.LinkedResourceDto"},"nullable":true},"sizeGb":{"type":"integer","format":"int32","nullable":true},"billingPeriod":{"type":"string","nullable":true},"dataCenter":{"type":"string","nullable":true,"description":"For more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."},"bootable":{"type":"boolean","nullable":true},"image":{"type":"string","nullable":true},"type":{"type":"string","nullable":true}},"additionalProperties":false},"ValueResponseDto":{"type":"object","properties":{"uid":{"type":"string","nullable":true},"resourceId":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"nameSpace":{"type":"string","nullable":true},"projectId":{"type":"string","nullable":true}},"additionalProperties":false},"VolumeAttachDto":{"type":"object","properties":{"nodeId":{"type":"string","description":"Node id of the server the volume is goint to be attached to","nullable":true}},"additionalProperties":false},"VolumeAttached":{"type":"object","properties":{"type":{"type":"string","nullable":true},"reason":{"type":"string","nullable":true},"deploymentId":{"type":"string","nullable":true},"time":{"type":"integer","format":"int64"},"message":{"type":"string","nullable":true},"source":{"type":"string","nullable":true},"involvedObject":{"allOf":[{"$ref":"#/components/schemas/InvolvedObject"}],"nullable":true},"metadata":{"allOf":[{"$ref":"#/components/schemas/PlatformMetadata"}],"nullable":true},"osResourceId":{"type":"string","nullable":true},"properties":{"allOf":[{"$ref":"#/components/schemas/VolumeAttachedProperties"}],"nullable":true}},"additionalProperties":false},"VolumeAttachedProperties":{"type":"object","properties":{"device":{"type":"string","nullable":true}},"additionalProperties":false},"VolumeDetached":{"type":"object","properties":{"type":{"type":"string","nullable":true},"reason":{"type":"string","nullable":true},"deploymentId":{"type":"string","nullable":true},"time":{"type":"integer","format":"int64"},"message":{"type":"string","nullable":true},"source":{"type":"string","nullable":true},"involvedObject":{"allOf":[{"$ref":"#/components/schemas/InvolvedObject"}],"nullable":true},"metadata":{"allOf":[{"$ref":"#/components/schemas/PlatformMetadata"}],"nullable":true},"osResourceId":{"type":"string","nullable":true}},"additionalProperties":false},"VolumeDisableDto":{"type":"object","properties":{"reason":{"allOf":[{"$ref":"#/components/schemas/DisableReason"}]},"mode":{"allOf":[{"$ref":"#/components/schemas/DisableMode"}]},"note":{"type":"string","nullable":true}},"additionalProperties":false},"VolumeDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"},"properties":{"allOf":[{"$ref":"#/components/schemas/VolumePropertiesDto"}],"nullable":true}},"additionalProperties":false},"VolumeEnableDto":{"type":"object","properties":{"reason":{"allOf":[{"$ref":"#/components/schemas/DisableReason"}]},"mode":{"allOf":[{"$ref":"#/components/schemas/DisableMode"}]},"note":{"type":"string","nullable":true}},"additionalProperties":false},"VolumeInfoDto":{"type":"object","properties":{"device":{"type":"string","nullable":true},"osResourceId":{"type":"string","nullable":true}},"additionalProperties":false},"VolumeInternalDataDto":{"type":"object","properties":{"private":{"allOf":[{"$ref":"#/components/schemas/VolumeInternalDataPrivateDto"}],"nullable":true},"infrastructure":{"allOf":[{"$ref":"#/components/schemas/VolumeInternalDataInfrastructureDto"}],"description":"","nullable":true},"info":{"allOf":[{"$ref":"#/components/schemas/VolumeInfoDto"}],"nullable":true}},"additionalProperties":false},"VolumeInternalDataInfrastructureDto":{"type":"object","properties":{"type":{"type":"string","nullable":true},"value":{"allOf":[{"$ref":"#/components/schemas/VolumeInternalDataInfrastructureValueDto"}]}},"additionalProperties":false,"description":""},"VolumeInternalDataInfrastructureValueDto":{"type":"object","properties":{"uid":{"type":"string","nullable":true},"resourceId":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"namespace":{"type":"string","nullable":true},"projectId":{"type":"string","nullable":true},"ocmResourceId":{"type":"string","nullable":true}},"additionalProperties":false},"VolumeInternalDataPrivateDto":{"type":"object","properties":{"nodeId":{"type":"string","nullable":true},"detaching":{"type":"boolean"},"attaching":{"type":"boolean"},"state":{"type":"string","nullable":true},"kaasId":{"type":"string","nullable":true},"failureReason":{"type":"string","nullable":true}},"additionalProperties":false},"VolumeListResponseDto":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"self":{"type":"string","nullable":true},"prev":{"type":"string","nullable":true},"next":{"type":"string","nullable":true},"first":{"type":"string","nullable":true},"last":{"type":"string","nullable":true},"values":{"type":"array","items":{"$ref":"#/components/schemas/VolumeResponseDto"}}},"additionalProperties":false},"VolumePropertiesDto":{"type":"object","properties":{"sizeGb":{"type":"integer","description":"The blockStoages's size in gigabyte","format":"int32"},"billingPeriod":{"type":"string","description":"The billing period for blockStorage. Only Hour is a valid value"},"dataCenter":{"type":"string","description":"The datacenter where blockstorage will be created\n\nFor more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."},"type":{"type":"string","description":"Volume typology. Accepted values:\r\n- Standard\r\n- Performance","nullable":true},"snapshot":{"allOf":[{"$ref":"#/components/schemas/GenericResourceDto"}],"description":"The snapshot from which the block storage will be created","nullable":true},"backup":{"allOf":[{"$ref":"#/components/schemas/GenericResourceDto"}],"nullable":true},"bootable":{"type":"boolean","description":"If the Volume is Bootable","nullable":true},"image":{"type":"string","description":"Volume image if it's bootable","nullable":true}},"additionalProperties":false},"VolumePropertiesResponseDto":{"type":"object","properties":{"sizeGb":{"type":"integer","description":"The blockStoages's size in gigabyte","format":"int32","nullable":true},"billingPeriod":{"type":"string","description":"The billing period for blockStorage. Only Hour is a valid value","nullable":true},"dataCenter":{"type":"string","description":"The datacenter where blockstorage will be created\n\nFor more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>.","nullable":true},"type":{"type":"string","description":"The typology of the volume (es. Standard, Performance)","nullable":true},"bootable":{"type":"boolean","description":"If the Volume is Bootable","nullable":true},"image":{"type":"string","description":"Volume image if it's bootable","nullable":true},"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/LinkedResourceResponseDto"},"description":"The resource you can link to your BlockStorage. It's for future use"}},"additionalProperties":false},"VolumeResponseDto":{"type":"object","properties":{"metadata":{"allOf":[{"$ref":"#/components/schemas/MetadataResponseDto"}],"nullable":true},"status":{"allOf":[{"$ref":"#/components/schemas/StatusResponseDto"}],"nullable":true},"properties":{"allOf":[{"$ref":"#/components/schemas/VolumePropertiesResponseDto"}],"nullable":true},"data":{"allOf":[{"$ref":"#/components/schemas/VolumeInternalDataDto"}],"description":"internal data","nullable":true}},"additionalProperties":false},"VolumeTypologyExtraInfo":{"type":"object","additionalProperties":false},"VolumeUpdateDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"},"properties":{"allOf":[{"$ref":"#/components/schemas/VolumeUpdatePropertiesDto"}],"nullable":true}},"additionalProperties":false},"VolumeUpdatePropertiesDto":{"type":"object","properties":{"sizeGb":{"type":"integer","description":"The blockStoages's size in gigabyte","format":"int32"},"billingPeriod":{"type":"string","description":"The billing period for blockStorage. Only Hour is a valid value"},"dataCenter":{"type":"string","description":"The datacenter where blockstorage will be created\n\nFor more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."}},"additionalProperties":false},"VolumeUpdateTypologyExtraInfo":{"type":"object","additionalProperties":false},"CallBackType":{"enum":["Validate","Mutate"],"type":"string"},"CallBackUri":{"type":"object","properties":{"type":{"$ref":"#/components/schemas/CallBackType"},"uri":{"type":"string","format":"uri","nullable":true}},"additionalProperties":false},"LinkedResourceDto":{"type":"object","properties":{"uri":{"type":"string","description":"Uri of the resource to link","nullable":true}},"additionalProperties":false,"description":"Linked resource"},"LocationDto":{"type":"object","properties":{"value":{"type":"string","description":"Value of the region in which the resource will be located.\r\nAvailable regions at present:\r\n- ITBG-Bergamo\n\nFor more information, check the <a href=\"/api/docs/metadata/#location-and-data-center\" target=\"_blank\">documentation</a>."}},"additionalProperties":false,"description":"Contains information about the Region of a resource"},"MetadataDtoV2":{"type":"object","properties":{"name":{"type":"string","description":"Name of the resource"},"tags":{"type":"array","items":{"type":"string"},"description":"List of tags for the resource","nullable":true}},"additionalProperties":false,"description":"Metadata of the resource"},"PropertiesBaseDto":{"type":"object","properties":{"linkedResources":{"type":"array","items":{"$ref":"#/components/schemas/LinkedResourceDto"},"description":"List of linked resources","nullable":true}},"additionalProperties":false},"ProviderConfig":{"type":"object","properties":{"name":{"type":"string","nullable":true},"uri":{"type":"string","nullable":true},"providerResourceConfigs":{"type":"array","items":{"$ref":"#/components/schemas/ProviderResourceConfig"},"nullable":true}},"additionalProperties":false},"ProviderResourceConfig":{"type":"object","properties":{"resource":{"type":"string","nullable":true},"callBackUris":{"type":"array","items":{"$ref":"#/components/schemas/CallBackUri"},"nullable":true}},"additionalProperties":false},"ResourceBaseDto":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDto"},"properties":{"$ref":"#/components/schemas/PropertiesBaseDto"}},"additionalProperties":false,"description":"Classe base del full paylod di una risorsa con tipizzazione a object delle custom properties\r\ne delle extra info della tipologia"},"ResourceBaseDtoV2":{"type":"object","properties":{"metadata":{"$ref":"#/components/schemas/MetadataDtoV2"},"properties":{"$ref":"#/components/schemas/PropertiesBaseDto"}},"additionalProperties":false,"description":"Classe base del full paylod di una risorsa con tipizzazione a object delle custom properties\r\ne delle extra info della tipologia"}},"securitySchemes":{"Bearer":{"type":"apiKey","description":"Insert JWT token","name":"Authorization","in":"header"}}},"security":[{"Bearer":[]}]}